/* 1170px to 980px or 768px */
@media screen and (max-width: 1280px) {
/*.navigation ul ul > li:hover > ul {left: -212px;}
.navigation ul ul > li:hover > ul > li:hover > ul {left: -210px;}*/
.navigation ul ul li:hover > a, .navigation ul ul li > a:hover, .navigation ul ul li.active > a {border-left: 3px solid #0066cc;}
.blog-detail .main-post iframe {width: 100%;}
.wp-jobhunt .filter-heading .chosen-container-single .chosen-single div b{background:none;}

}
@media screen and (max-width: 1170px) {
.ad-widget img, .cs-online-jobs figure img, 
.widget-comment img, .cs-ad-holder img {width: 100%;}
.main-search {overflow: visible;}
.search-country {margin-right: 0; width: 226px;}
ul.jobs-list li {padding: 5px 15px 0 30px;}
.social-media li a {display: block; margin-bottom: 10px;}
.col-lg-8 .jobs-listing li .cs-text, .col-md-8 .jobs-listing li .cs-text, .col-lg-9 .jobs-listing li .cs-text, .col-md-9 .jobs-listing li .cs-text{width:80%;}
.col-lg-8 .jobs-listing.classic li .cs-text, .col-md-8 .jobs-listing.classic li .cs-text, .col-lg-9 .jobs-listing.classic li .cs-text, .col-md-9 .jobs-listing.classic li .cs-text{width:75% !important;}
.jobs-listing span.author-name{display:block;}
.footer-copyrights .wp-jobhunt [class*="col-md"] {width: 100%;}
#footer .widget .widget-title{text-align:left}
.wp-jobhunt .col-lg-8 .jobs-listing li .cs-text, .wp-jobhunt .col-lg-9 .jobs-listing li .cs-text{padding-right: 152px;}
/*.wp-jobhunt .col-lg-12 .col-lg-9 .jobs-listing li .cs-text{width: 82% !important;}*/
.wp-jobhunt .filter-heading > h5{float: none;}
.wp-jobhunt #header .navigation > ul > li > a, .wp-jobhunt #header .navigation > ul > li{font-size: 11px!important;}
.wp-jobhunt .cs-login-dropdown ul li a{color: #707070 !important;}
.wp-jobhunt .jobs-listing.modern li .cs-text, .wp-jobhunt .col-lg-12 .col-lg-12 .jobs-listing.modern li .cs-text{width: 75% !important;}
.wp-jobhunt .company-detail-inner > h6{margin: 0px;}
.wp-jobhunt .col-lg-12 .col-lg-9 .jobs-listing.classic .cs-text, .wp-jobhunt .col-lg-12 .jobs-listing.classic .cs-text{width: 76.8% !important;}
/*header .slicknav_nav{overflow: visible;}*/

}
@media screen and (max-width: 1024px) {
.footer-top [class*="col-md"], 
.lb-album [class*="col-md"]{display: inline-block;}
.widget .cs_banner_section img {width: 100%;}
.company-detail-inner {width: 60%;}
.section-sidebar{padding-top:30px;}
ul.hiring-list li .cs-text .cs-posted{right:0;}
.rtl ul.hiring-list li .cs-text .cs-posted{left:0; right:auto;}
.filter-heading > h5{margin-bottom:20px;}
.wp-jobhunt .filter-heading .cs-sort-sec li:first-child{width: 55%;}
.wp-jobhunt .filter-heading .cs-sort-sec label{margin-right: 16px;}
.filter-heading .cs-sort-sec {clear: both; float:none; margin-right: -10px; margin-top: 10px;}
.filter-heading .cs-sort-sec li{width:38%; margin-bottom: 5px;}
.filter-heading .cs-sort-sec li .cs-select-holder{overflow: inherit;}
.cs-select-holder{float:none;overflow:hidden;}
.main-search{margin-bottom:30px;}
.cs-candidate-detail .cs-profile .post-options{width:30%;}
.cs-candidate-detail .profile-nav li{margin-right:15px}
.wp-jobhunt .cs-login-dropdown .dropdown-menu::before, .wp-jobhunt .cs-login-dropdown .dropdown-menu::after{display: none;}
.wp-jobhunt .cs-login-dropdown .logout-btn{margin-top: -14px;}
.wp-jobhunt .slicknav_nav li:last-child{margin-bottom: 20px;}
.wp-jobhunt header .wish-list ul.recruiter-list li .cs-info{width: 67%; color: #666;}
.wp-jobhunt .jobs-listing.modern li .cs-text{width: 75%;}
.wp-jobhunt .jobs-listing.classic .cs-text, .wp-jobhunt .col-lg-12 .col-lg-9 .jobs-listing.modern li .cs-text, .wp-jobhunt .col-lg-12 .col-lg-12 .jobs-listing.modern li .cs-text{width: 76% !important; padding-right: 152px;}
header .navigation{width: auto;}
.wp-jobhunt header .wish-list{top:5px;}
.wp-jobhunt .col-lg-12 .col-lg-9 .jobs-listing.classic .cs-text, .wp-jobhunt .col-lg-12 .jobs-listing.classic .cs-text{width: 77.8% !important;}


}
@media only screen and (min-width:991px) and (max-width: 1024px) {
.rc-anchor-normal{ width:255px;}
.cs-tabs.nav-position-left [class*="col-md"], .section-content.col-md-8, .section-sidebar.col-md-4, .section-content .cs-content-holder .col-md-6, .cs-pricetable .holder article.col-md-4, .section-fullwidth .cs-content-holder aside.col-md-3, .section-fullwidth .cs-content-holder .hiring-holder.col-md-9, .main-section .page-content.col-md-9, .main-section .col-md-3.employer-info,.cs-content-holder .cs-job-possitions.col-md-9, .cs-content-holder .cs-company-listing.col-md-9, .job-information .col-md-4, .job-information .col-md-6, .cs-job-possitions.col-md-9 li.col-md-6, .main-section aside.col-md-3, .cs-content-holder .col-md-3, .cs-content-holder .col-md-9, aside.page-sidebar.col-md-3, .blog-detail.col-md-9, .cs-content-holder .col-md-4, .archive.col-md-9, .archive .page-sidebar.col-md-3, .footer-copyrights .col-md-7, .footer-copyrights .col-md-5 , .section-fullwidth > .cs-content-holder > .row > .col-md-6 {display: inline-block;}
.cs-tabs.nav-position-left .col-md-2 {width: 20%;}
.cs-tabs.nav-position-left .col-md-10 {width: 80%;}
.employer-company figure, .main-post figure iframe, .cs-content-holder .slide iframe {width: 100%;}
ul.post-step li, ul.post-step li:last-child {width: 31%;}
.cs-tabs .tab-content ul {margin-bottom: 20px;}
.blog-medium .cs-media ~ .blog-text{ width:57%;}
.employer-listing .cs-text{width:54%;}
#footer .footer-top [class*="col-lg"], #footer .footer-top [class*="col-md"], 
#footer .footer-top [class*="col-sm"], #footer .footer-top [class*="col-xs"]{width:33%; margin-bottom:15px !important;}
.jobs-detail-3 .social-media{ width:35%;}
.cs-relevant-list .cs-text{width:73%}
}
/* 980px to 800px */
@media screen and (max-width: 980px) {
.nav-right-area .navigation .navbar-nav{margin-bottom:20px;display:none;}
.wp-jobhunt .cs-counter .dashboard-list li .cs-text{display: block;}
.wp-jobhunt .cs-counter .dashboard-list li i, .cs-counter .dashboard-list li i{margin-bottom:20px;}
.wp-jobhunt ul.cs-pricetable.fancy .pricetable-holder.active{margin: 0px 0 30px 0;}	
header .nav-right-area{position:relative; text-align:right; padding: 0;}
header .user-account{display: inline-block; margin: 0 0 0 20px; vertical-align: middle;width:auto;padding:0;}
.nav-right-area .slicknav_btn {
    background-color: #5c2261;
    border-radius: 0;
    display: inline-block !important;
    margin: 0;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
header .slicknav_nav {
    position: absolute;
    top: 100%;
    width: 250px;
    z-index: 99;
	background-color: #222;
    left: -60px;
}
.slicknav_menu .slicknav_icon{font-size: 18px;}
.slicknav_menu .slicknav_icon-bar{box-shadow: none;}
.wp-jobhunt .user-account{margin-bottom: 15px;}
.wp-jobhunt .user-account .join-us a{display: inline-block;}
header .slicknav_nav .sub-dropdown a:hover, .slicknav_nav a:hover {background:none; color: #fff !important;}
header .slicknav_nav .slicknav_arrow, header .dropdown-menu > li > a {color:#fff;}
.slicknav_menu .slicknav_icon{float: none; margin: 0;}
header .slicknav_menu {display:inline-block; vertical-align:middle;}
header .slicknav_nav .slicknav_row:hover a {color:#fff;}
#header .slicknav_menu .dropdown-menu{margin-top:2px !important;opacity:1;visibility:visible; position:initial; background:none !important; width:100%; box-shadow:none;}	
.slicknav_btn {display:block;}
.navigation > ul{width:100%;}
.main-section .widget, .main-section .widget.socialmedia-widget{display:block;width:100%;}
#footer .footer-top [class*="col-lg"], #footer .footer-top [class*="col-md"], 
#footer .footer-top [class*="col-sm"], #footer .footer-top [class*="col-xs"]{margin-bottom:20px !important;}
header .logo{width:100%;text-align:left;}
.nav-right-area{width:100%;}
header .login{width:auto;}
#comment{ margin-bottom:30px; display:inline-block; width:100%;}
.navigation ul{display:block;}
.blog-medium .cs-media ~ .blog-text{ width:57%;}
#header .navigation ul ul {z-index:999;}
.mockup-content strong.joiner {z-index:99;}
.rtl .account-info-btn { clear: both;}
.rtl ul.post-step li { float: right; margin: 0 0 10px 20px; width: auto;}
.rtl ul.managment-list li .list-holder .control a:last-child { margin-right: 0px;}
.rtl ul.managment-list li h6 { width: 100%; margin:0; margin-bottom:10px;}
.rtl ul.managment-list li .list-holder .package { width: 100%; margin-bottom:10px; text-align:right;}
.rtl ul.managment-list li .list-holder .shortlist { width: 100%; margin:0 ;margin-bottom:10px;}
.rtl ul.managment-list li .list-holder .application {width: 100%;margin-bottom:10px;}
.rtl ul.managment-list li .list-holder .control { width: 100%;margin-bottom:10px;}
.rtl ul.managment-list li .list-holder .control a, 
.rtl ul.managment-list li .list-holder .shortlist span, 
.rtl ul.managment-list li .list-holder .application a {display: inline; float: right;}
.rtl .cs-tabs .tab-content ul li { overflow:hidden; padding-top:10px; width:auto;}
.rtl .share-job ul.share-medea{float: right; padding-left: 0;}
.share-job .col-md-6{width:50%; float:right;}
.login {margin-bottom: 20px; width: 100%;}
.rtl .login { left: -4px; position: absolute;right: inherit;top: 0;}
.search-view2 .main-search .search-area .search-bar,
.search-view2 .main-search .search-country,
.search-view3 .main-search .search-area .search-bar,
.search-view3 .main-search .search-country{width:48%;}
.search-view2 .main-search .search-category,
.search-view3 .main-search .search-category{width:46%;}
.rtl .search-view3 .main-search .search-area .search-bar, 
.rtl .search-view3 .main-search .search-category, 
.rtl .search-view3 .main-search .search-country, 
.rtl .search-view2 .main-search .search-area .search-bar, 
.rtl .search-view2 .main-search .search-category, 
.rtl .search-view2 .main-search .search-country{width:47%;}
.rtl .search-view2 .main-search .search-btn{float:right;}
.wish-list {top: 0;}
.rtl .wish-list {left: 0; right: inherit;}
.banner-text-style {font-size: 50px;}
.main-search {overflow: hidden;}
.search-area .search-bar {width: 100%;}
.search-category {width: 47%;}
.search-country {width: 50%; margin-right: 0;}
.rtl .search-country {margin-left: 0; width:48%;}
.main-section .widget,
.main-section .widget.socialmedia-widget {width: 50%; display: inline-block; padding: 0 10px 0 0; margin: 0 -4px 0 0;}
.main-section .widget.cs-job-counter {width: 100%;}
.wp-jobhunt .cs-companies article {width: 50%; display:inline-block; margin-bottom: 20px!important;}
.cs-online-jobs figure img, .cs-ad-holder figure img, .ad-widget figure img,
.video-container img, ul.managment-list li .list-holder, .cs-top-ad img {width: 100%;}
ul.managment-list li .manag-title{margin-bottom:20px; width:100%;}
.cs-pricetable .col-md-4 {margin-bottom: 30px; width: 50%; float: left;}
.rtl .cs-pricetable .col-md-4 { float: right;  margin-bottom: 30px; margin-left: 0; margin-right: 0; width: 33.3%;}
ul.blog-list li .cs-text h3 {font-size: 14px;}
.cs-footer .col-md-2 {display: inline-block; float: none; width: 30%;}
.cs-footer .col-md-3 {display: inline-block; float: none; margin-bottom: 30px; width: 50%;}
.navigation ul ul > li:hover > ul {left: -210px;}
.navigation ul ul > li:hover > ul > li:hover > ul {left: -210px;}
.navigation ul ul li:hover > a, .navigation ul ul li > a:hover, .navigation ul ul li.active > a {border-left: 3px solid #0066cc;}
.lb-album {text-align: center;}
.lb-album li {display: inline-block;}
.cs-company-listing article {width: 25%; margin-bottom:30px; float:left; margin-right:0px;}
.resp-vtabs .resp-tabs-container {padding-left: 0;}
ul.post-step li, ul.post-step li:last-child {width: 33.3%; margin-right: 0;}
ul.post-step li:after {display: none;}
ul.post-step {margin-left: 0;}
.col-md-6 .row .col-md-6 {margin-bottom: 20px;}
.sticky-wrapper {height: auto;}
ul.candidate-list li, .select-jobs .search-category {width: 33.3%;}
.select-jobs {width: 100%;}
.price-table article {border-left: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4;}
.callToaction {background-size: cover;}
.cs-team article {width: 50%; float: left;}
.cs-team article figure img {width: 100%;}
.fixed {position: initial; background: #fff; width: 100%;}
.rtl .col-md-9.right-section {padding: 0 10px 0 0;}
/*#cstabs.cs-tabs .tab-content, #cstabs.cs-tabs .nav-tabs {float: none;}*/
ul.hiring-list li .cs-text .cs-posted{right:0;}
.rtl ul.hiring-list li .cs-text .cs-posted{left:0; right:auto;}
#header.dark-header .logo{width:100%; text-align:center; margin-bottom:20px !important;}
.rtl #header.dark-header .logo{width:100%; text-align:center; margin-bottom:20px;}
#header.dark-header .login{right:0;top:0;}
.cs-footer.footer-v2 .footer-nav, .cs-footer.footer-v2.footer-v4 .footer-nav,
.cs-footer.footer-v2 .footer-nav, .cs-footer.footer-v2.footer-v4 .footer-nav{text-align:left;}
.rtl .cs-footer.footer-v2 .footer-nav, .rtl .cs-footer.footer-v2.footer-v4 .footer-nav,
.rtl .cs-footer.footer-v2 .footer-nav, .rtl .cs-footer.footer-v2.footer-v4 .footer-nav{text-align:right;}
.cs-img-frame.frame-simple { float: left; padding: 0; width: 50%;}
.rtl .cs-img-frame.frame-simple { float: right; padding: 10px; width: 33.33%;}
.footer-v3 .col-md-5,
.rtl .footer-v3 .col-md-5{ margin-top: -20px; padding-top: 0; width: auto;}
.mas-isotope div {width:50%;}
.wp-jobhunt ul.blog-list.blog-slider li {float: left;}
.wp-jobhunt .blog-slider .blog-slides ul.slick-dots li {float: none;}
.wp-jobhunt ul.clients li {float:left;}
.team-hunt {padding-top: 10px;}
ul.job-list li {width:50%;}
.hiring-holder ul.cs-list li.ln-no-match:after {left:26%;}
.wp-jobhunt .price-tables article {width:50%; display:inline-block;}
.morph-button-fixed, .morph-button-fixed .morph-content {width: 50%;}
.mockup-content strong.joiner {left: 50%; margin-left: -10px;}
.cs-company-listing .job-list.job-list-2 article,
.rtl .cs-company-listing .job-list.job-list-2 article{margin:0;}
.footer-copyrights {text-align: center;}
.cs-listing .cs-list .cs-holder .cs-text {width: 80%;}
.job-top-location-field {width: 32%;}
.cs-clinets ul.clients button.slick-prev {left: 0; top: 54px;}
ul.job-list.job-list-full-view li {width:100%;}
#footer .footer-top [class*="col-lg"], #footer .footer-top [class*="col-md"], #footer .footer-top [class*="col-sm"], #footer .footer-top [class*="col-xs"]{width:50%;}
/* Canidate Style */
.main-search .search-area [class*="col-md"], .main-search .search-area [class*="col-sm"], 
.main-search .search-area [class*="col-lg"] {width:50%; margin-bottom: 10px !important; display:inline-block; vertical-align:top; margin-right:-4px; float:none;}
.main-section .main-search {overflow: visible;}
.main-search.inner-search form .search-category {width:100%;}
.jobs-detail-4 .apply-buttons a{margin-bottom:6px;}
.jobs-listing.modern li:first-child{padding-top:20px;}
.jobs-detail-listing .row .col-md-6{margin-bottom:0;}
.share-job ul.share-medea{padding:0;}
.cs-counter .dashboard-list li{width:50%;margin-bottom:10px;}
.cs-counter .dashboard-list li:last-child{margin-bottom:0;}
.callToaction .cs-text{width:70%;}
.main-section .section-sidebar .widget.widget_text{display:block;width:100%;}
.wp-jobhunt ul.post-step li{width:34%;margin-bottom:10px;}
.wp-jobhunt ul.post-step li h6 a{font-size: 11px !important;}
header .slicknav_nav .slicknav_row:hover{background:none;}
header .slicknav_nav .dropdown-menu > li > a {white-space: inherit; color: #fff; position: relative; z-index: 99;}
.main-head .col-sm-12 {width:50%;}
.wrapper #header {z-index:99;}
.main-search .search-btn label {padding-top: 20px;}
.main-search  label {margin-bottom:10px;}
.main-section .cs-about-info {padding: 20px; width: 100%;}
.main-section .img-frame img {width:100%;}
.main-section .blog-detail h2 {width: 90%;}
.main-section .cs-blog-detail .cs-tags .tags span {margin: 0 0 10px 0;}

}

/* 767px to 480px */
@media screen and (max-width: 768px) {
     header .slicknav_nav {left: auto;right: 0;}
.wp-jobhunt .recriutment-listing .employer-listing.simple .cs-post-type {
    float: right;
    position: relative;
    text-align: right;
    width: 22%;
}
.wp-jobhunt .employer-listing.simple .cs-text {
    width: 56%;
}
.cs-loginsec .cs-drp-dwn {
    display: block;
}	
header .nav-right-area{position:relative;}
header .user-account{display: inline-block; margin: 0 0 0 20px; vertical-align: middle;}
.nav-right-area .slicknav_btn {
    background-color: #5c2261;
    border-radius: 0;
    display: inline-block !important;
    margin: 0;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
header .slicknav_nav {
    position: absolute;
    top: 100%;
    width: 250px;
    z-index: 99;
	background-color: #222;
}
header .slicknav_nav .slicknav_arrow, header .dropdown-menu > li > a {color:#fff !important;}
.slicknav_menu .slicknav_icon{float: none; margin: 0;}
header .slicknav_menu {display:inline-block;}
header .slicknav_nav .slicknav_row a {color:#fff;}
#header .slicknav_menu .dropdown-menu{margin-top:2px !important;opacity:1;visibility:visible; position:initial; background:none !important; width:100%; box-shadow:none;}
.navigation ul li{height:45px;}
.main-section .col-lg-8 .jobs-listing li .cs-text, .main-section .col-md-8 .jobs-listing li .cs-text, .main-section .col-lg-9 .jobs-listing li .cs-text, .main-section .col-md-9 .jobs-listing li .cs-text{width:80%;}	
.jobs-detail-3 .social-media{width:73%;}
.jobs-detail-1 .section-sidebar .employer-contact-form, 
.jobs-detail-3 .section-sidebar .employer-contact-form{ margin-bottom:30px;}
.employer-listing .cs-text{width:52%;}
.navigation ul ul ul li a:hover, .navigation ul ul ul li a {padding-left: 42.5px !important;}
#header .navigation > ul > li > ul > li.menu-item-has-children:after {display: none;}
.cs-search .search-btn {width: 100%;}
.search-btn {margin: 0 0 10px; width: 100%;}
.cs-search .job-top-location-field {width: 100%;}
.cs-search .main-search span {margin-bottom: 5px;}
ul.job-list li {width:100%;}
.navigation > ul > li > ul:after {display: none;}
.cs-login-dropdown ul li {float: none;}
.cs-tabs .tab-content {margin-right: 6px;}
.mas-isotope div {width:100%;}
.navigation > ul > li > ul, .navigation ul ul ul {background: #fff; border-top: 0; box-shadow: none; padding: 0;}
.cs-content-holder, .hiring-holder{ margin:0px;}
.navigation ul ul li:hover > a, 
.navigation ul ul li > a:hover, 
.navigation ul ul li.active > a {padding: 14px 25px 14px 27.5px;}
.navigation ul ul ul ul li a:hover , .navigation ul ul ul ul li a{padding-left: 57.5px !important;}
.wish-list {top: 45px;}
.top-right {float: none;}
.rtl .top-right {float: none;}
.navigation #menu-button::before, .navigation .submenu-button::before {top: 18.5px;}
.rtl .navigation #menu-button::before, .rtl .navigation .submenu-button::before {left: 22.5px; right: inherit;}
.navigation ul .submenu-button::after, .navigation #menu-button::after {top: 5.5px;}
.rtl .navigation ul .submenu-button::after, .rtl .navigation #menu-button::after {left: 12.5px; right: inherit;}
.navigation #menu-button {margin: 15px 0; padding: 13px;}
#menu-button .icon-list8 {color: #005394;font-size: 25px; position: absolute; top: -35px; right: 0px;}
#header.dark-header #menu-button .icon-list8,
.rtl #header.dark-header #menu-button .icon-list8  {color: #005394; font-size: 25px; position: absolute; top: -25px; left: auto; right:0;}
strong.joiner {left: 50%; margin-left: -9px;}
.rtl strong.joiner {left: 50%; margin-left: -3px; margin-right: -9px;}
.rtl .navigation > ul > li {background: none; float: right;}
.morph-button-fixed {width: 50%;}
.navigation ul ul li:hover > a, .navigation ul ul li > a:hover, 
.navigation ul ul li.active > a {border-right: 0 none; border-left: 3px solid #0066cc;}
.navigation ul ul > li:hover > ul > li:hover > ul {left: 0px;}
.navigation ul ul > li:hover > ul > li:hover > ul {left: 0px;}
.navigation > ul > li {background: none;}
.navigation ul li:first-child {border: 0;}
.rtl .navigation ul li:first-child {border: 0; margin-top: 0;}
.navigation > ul > li > a {padding: 15px 16px;}
.rtl .navigation > ul > li > a {text-align: right;}
.contact-form-holder .input-filed-contact label,
.contact-form-holder .input-filed-contact input, 
.contact-form-holder .input-filed-contact textarea {width: 100%; text-align: left;}
.rtl .navigation .submenu-button {border-right: 1px solid rgba(120, 120, 120, 0.2); border-left: 0; left: 0; right: inherit;}
.rtl .navigation ul ul li a {text-align: right;}
.rtl .navigation ul ul > li:hover > ul {right: 0;}
.cs-profoile-portfolio .col-md-4 {width: 50%; float: right;}
/*#cstabs.cs-tabs .tab-content, #cstabs.cs-tabs .nav-tabs {float: none;}*/
#cstabs.cs-tabs .nav-tabs {margin-right: 6px;}
.login-dashboard-main:hover .cs-login-dropdown {width: 100%;}
.navigation #menu-button {margin-top: 0px; margin-bottom: 25px;}
.navigation .submenu-button {border-left: 0px solid rgba(120, 120, 120, 0.2);}
.navigation ul ul li a {border-top: 0;}
.navigation ul ul > li:hover > ul {left: 0px;}
.navigation { width: 100%;}
  .navigation ul,
  .navigation ul ul,
  .navigation ul ul ul,
  .navigation > ul,
  .navigation.align-center > ul,
  .navigation > ul > li > ul,
  .navigation > ul > li:hover > ul,
  .navigation ul ul li:hover > ul,
  .navigation ul ul ul li:hover > ul,
  .navigation.align-right ul ul,
  .navigation.align-right ul ul li:hover > ul,
  .navigation.align-right ul ul ul li:hover > ul {
    position: relative;
    left: 0;
    right: auto;
    top: 0;
    width: 100%;
    display: none;
    padding: 0;
    opacity: 1;
    text-align: left;
	margin-top:50px;
  }
  .navigation ul li {width: 100%; border-top: 1px solid rgba(120, 120, 120, 0.2);}
  .navigation > ul > li > a,
  .navigation ul ul li a,
  .navigation ul ul li:first-child > a,
  .navigation ul ul li:last-child > a {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    background: none;
  }
  .navigation ul li a { padding-left: 12.5px;}
  .navigation ul ul li a {padding: 14px 25px 14px 27.5px;}
  .navigation ul ul ul li a {padding-left: 42.5px;}
  .navigation ul ul ul ul li a {}
  .navigation > ul > li.has-sub > a:after,
  .navigation > ul > li.has-sub > a:before,
  .navigation ul ul li.has-sub > a:after,
  .navigation ul ul li.has-sub > a:before { display: none;}
  .navigation #menu-button {
    position: absolute;
    display: block;
    padding: 20px;
    padding-left: 12.5px;
    cursor: pointer;
    font-size: 13px;
    color: #ffffff;
	left:0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
	margin-top:30px;
  }
  .navigation .submenu-button {
    position: absolute;
    right: 0;
    display: block;
    width: 50px;
    height: 44px;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    z-index: 10;
    cursor: pointer;
  }
  .navigation ul ul .submenu-button { height: 41px;}
  .navigation ul .submenu-button:after {
    content: '';
    position: absolute;
    right: 12.5px;
    top: 12.5px;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 15px;
    background-size: 56px 56px;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  .navigation ul .submenu-button.submenu-opened:after,
  .navigation #menu-button.menu-opened:after { background-position: 0 -28px; }
  .navigation ul ul .submenu-button:after {top: 6.5px;}
  .navigation .submenu-button:before {
    content: '';
    position: absolute;
    right: 22.5px;
    top: 25.5px;
    display: block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #3BA5FF;
    z-index: 99;
  }
  .navigation ul ul .submenu-button:before {top: 19.5px;}
  .navigation #menu-button.menu-opened:before,
  .navigation .submenu-button.submenu-opened:before {
    border-top-color: rgba(244, 28, 28, 1);
    border: 4px solid transparent;      
    border-bottom-color: #3BA5FF;
    top: 15px;
}
#header.dark-header .logo{
	text-align:left;
	width:auto;
	margin-bottom:0 !important;
}
.rtl #header.dark-header .logo{text-align:right; width:auto;}
#header.dark-header .navigation{float:right;}
.rtl #header.dark-header .navigation{float:left;}
#header.dark-header .top-right .cs-loginsec {
    border: 0 none;
    position: absolute;
    right: 30px;
    top: 3px;
}
.rtl #header.dark-header .top-right .cs-loginsec {
    border: 0 none;
    position: absolute;
    left: 40px;
	right:auto;
    top: 5px;
}
#header.dark-header .navigation #menu-button,
.rtl #header.dark-header .navigation #menu-button{padding:0;}
#header.dark-header .navigation > ul > li > ul,
.rtl #header.dark-header .navigation > ul > li > ul{top:0;}
#header.dark-header,
.rtl #header.dark-header{margin-bottom:-30px;}
#header.dark-header .navigation > ul > li > a,
.rtl #header.dark-header .navigation > ul > li > a{padding:15px 16px 15px 12.5px;}
.cs-profile-contact-detail.contact-form-holder .input-filed-contact input{width:100%;}
.input-filed-contact i{top:56px;}
/*.cs-profile-contact-detail .input-filed-contact {
	top: 16px;
}*/
.page-wrap{float:none;}
.section-fullwidth .cs-search-inner { margin: -50px -1010px 50px;}
.user-search .search-btn{width:7%;}
.main-section .widget, .main-section .widget.socialmedia-widget {width: 100%; display: inline-block; padding: 0; margin: 0;}
.wp-jobhunt ul.clients li {float:left;}
.main-section .widget.job-widget {padding-top: 89px;}
.wp-jobhunt .job-detail li [class*="col-md"] {display:inline-block;}
.wp-jobhunt .cs-companies article {margin: 0 -4px 20px 0 !important; display:inline-block; width:50%;}
.wow.slide.wow.slide > iframe {width:100%;}
.main-section .hiring-holder ul.cs-list li.ln-no-match:after {left: 50%; margin: -50px 0 0 -10px;}
.cs-listing ul.cs-list li.ln-no-match {padding:0 10px;}
.main-section .pagination {margin: 0 0 15px;}
.main-section .cs-profile-contact-detail.contact-form-holder .input-filed-contact textarea {width:100%;}
.cs-company-listing .job-list article {width:50%; display:inline-block;}
.main-section #comment ul li ul.children {margin-left:0;}
.main-section .cs-profile-contact-detail .profile-contact-btn {width:100%;}
.main-section .featured-post {display:inline-block; position: initial;}
.wp-jobhunt ul.blog-list li {display:inline-block; width:50%;}
.wp-jobhunt ul.blog-list.blog-slider {float: left;}
.main-section .jobs-listing.modern .wish-list {position:initial;}
/*.cs-listing.cs-fancy .cs-list li .cs-holder .cs-shortlist {left: 0; text-align: left; padding-left: 0;}*/
#main .cs-construction [class*="col-md"] {width: 100%; display:inline-block;}
#main .cs-construction {position: initial;}
.wp-jobhunt .price-tables article {width:50%; display:inline-block;}
#main .cs-construction .date span {width: 25%; margin:0 0 20px 0;}
.cs-construction .under-logo img {width: 100%;}
.cs-construction .cs-content .cs-text {text-align:center;}
.cs-listing.cs-grid .cs-holder .cs-text h3 {font-size: 14px !important;}
.search-category, .search-country {width: 100%;}
.cs-listing .cs-holder {width: 100%; display: inline-block;}
.hiring-holder .cs-listing .cs-list .cs-holder .cs-media {margin: 0 0 10px;}
.job-top-location-field {width: 100%; margin: 0 0 10px;} 
.filter-heading .cs-sort-sec > li:first-child {margin-left: 0; margin: 0 0 10px;}
.wp-jobhunt .filter-heading .cs-sort-sec > li:first-child {margin-left: 0;}
.filter-heading .cs-sort-sec li {width: 30%;}
.main-section .apply-job a {width:45%;}
.share-post.pull-right{padding: 10px 0 0 0;}
.share-post.pull-right, .job-info .btn-application {float: left !important;}
.share-post ul.share-medea li {margin:0 0 5px;}
.share-job .white_content {width:100%; left:0;}
.share-job .input-filed-contact i {top: 12px;}
.footer-copyrights .bottom-links li {float: none; display:inline-block;}
.cs-profile-contact-detail {margin: -8px 0 0;}
.contact-form h4 {margin: 0;}
.share-job .modal-body {padding:0;}
.share-job .white_content {top: -10px;}
.contact-form .cs-profile-contact-detail .input-filed-contact input {height: 42px;}
.contact-form .cs-profile-contact-detail .input-filed-contact textarea {min-height: 100px;}
.wp-jobhunt ul.blog-list ul.slick-dots li {width:auto;}
.footer-copyrights {text-align: center;}
.footer-copyrights .footer-logo {display: block; margin-bottom: 10px; margin-right: 0;}
.bottom-links {float: none; margin: 10px 0 0; display: inline-block; width: 100%;}
.footer-copyrights .back-to-top {padding: 0; text-align: center; margin: 0;}
.footer-copyrights .back-to-top li {display: inline-block; float: none; margin: 0;}
.main-section .jobs-listing {margin:0 0 30px;}
.main-section .section-fullwidth .cs-search-inner {margin-top:0;}
.main-section .col-lg-8 .jobs-listing li .cs-text, .main-section .col-md-8 .jobs-listing li .cs-text, 
.main-section .col-lg-9 .jobs-listing li .cs-text, .main-section .col-md-9 .jobs-listing li .cs-text {width:80%;}
.user-search ul.filter-list li{width:7%; margin-bottom:2px !important;}
.cs-candidate-detail .cs-profile .info{margin-bottom:10px;}
.cs-candidate-detail .cs-profile .post-options, .cs-candidate-detail .profile-nav{width:100%;}
header .main-head .logo{margin-bottom:0; text-align:left;}
.main-search .search-input label {padding-top: 10px;}
.wp-jobhunt .main-search .search-input label{padding-top: 7px;}
.wp-jobhunt .filter-heading .cs-sort-sec li .cs-select-holder{width: 69.6%; overflow: initial;}
.wp-jobhunt .filter-heading .cs-sort-sec li{width: 39%;}
.wp-jobhunt .col-lg-12 .col-lg-12 .jobs-listing.modern li .cs-text, .wp-jobhunt .col-lg-12 .col-lg-9 .jobs-listing.modern li .cs-text{width: 74% !important;}
.wp-jobhunt .company-detail-inner{width: 55%; margin-right:10px;}
.wp-jobhunt .company-date-option{width: 23%; padding-top: 0px;}
.wp-jobhunt .col-lg-12 .col-lg-9 .jobs-listing.classic .cs-text, .wp-jobhunt .col-lg-12 .jobs-listing.classic .cs-text, .wp-jobhunt .col-lg-12 .col-lg-9 .jobs-listing li .cs-text{width: 74% !important;}

}
@media screen and (max-width: 640px) {
.cs-blog-detail .post-option {clear: both;float: none;}
header .nav-right-area { text-align:center;}
header .slicknav_nav {left: 30%; right: auto;}
.wp-jobhunt .employer-listing.simple .cs-text {text-align: left;vertical-align: top;width: 100%;}
.wp-jobhunt .recriutment-listing .employer-listing.simple .cs-post-type {float: left;text-align: left;width: 26%;}
.wp-jobhunt .filter-heading .cs-sort-sec > li {vertical-align: middle;}
.wp-jobhunt .jobs-listing.classic .wish-list {margin: 15px 0 0;position: relative;right: 0;top: 0;}
.wp-jobhunt .jobtype-btn{top:-40px;}
.wp-jobhunt .col-lg-12 .col-lg-12 .jobs-listing li .cs-text{width:100%;}
.wp-jobhunt .filter-heading .cs-sort-sec{width: 100%; float: left;}
/*.wp-jobhunt .jobs-listing .wish-list{position: initial !important; margin-top: 20px !important;}*/
.wp-jobhunt .jobs-listing.grid .wish-list{position: absolute !important; margin-top: 0px !important;}
.wp-jobhunt .col-lg-8 .jobs-listing li .cs-text, .wp-jobhunt .col-lg-9 .jobs-listing li .cs-text{padding-right: 0px; width: 100% !important;}
.wp-jobhunt .cs-counter .dashboard-list li i, .cs-counter .dashboard-list li i{margin-right:20px;}
.wp-jobhunt .cs-counter .dashboard-list li .cs-text{display: inline-block;}
.callToaction .cs-text{width:100%;}
.callToaction .acc-submit{float:none !important;}
ul.cs-company-jobs{margin-bottom:0;}
.company-info figure{margin-bottom:0;} 
.cs-relevant-list .cs-text{width:100%; margin-top:20px;}
.hiring-holder .jobs-listing.modern h3{padding-right:130px;}
.page-section:nth-child(1){background-size:cover !important; padding:30px 0 !important; margin-bottom:30px !important;}
.jobs-detail-3 .jobs-info .cs-text{width:auto;}
.jobs-detail-3 .social-media{width:88%;}
.jobs-detail-4 .jobs-info .cs-text, .jobs-detail-4 .apply-buttons{width:100%;}
.jobs-detail-4 .jobs-info .cs-text{ margin-bottom:15px;}
 .jobs-detail-4 .apply-buttons{ text-align:left;}
.apply-buttons .cs-add-wishlist{ margin-bottom:8px;}
.blog-medium .cs-media{margin:0 0 15px 0;}
.blog-medium .cs-media, .blog-medium .cs-media img, 
.blog-medium .cs-media ~ .blog-text, 
.cs-blog-detail .cs-admin-post, .cs-blog-detail .cs-social-share{width:100%;}
.main-section .blog-large .post-option, .main-section .cs-blog.blog-medium .post-option {float: left; padding-top: 10px; width:100%;}
.jobs-listing.classic .wish-list{margin-top:0px;}
.cs-counter.inner ul.dashboard-list li { border-left: 0 none; overflow: visible; padding:20px; width: 100%;}
.career .main-search .search-area .search-bar {width: 100%; margin-bottom:1px;}
.career .main-search .search-area .search-category { width: 100%; margin-bottom:1px;}
.career .main-search .search-area .search-country { width: 100%; margin-bottom:1px;}
.account-info-btn {clear: both;}
.rtl ul.post-step li h3 a i { margin-left: 10px; margin-right:0px; margin-top: 0;}
.share-job .col-md-6 { float: right; width: 100%;}
.rtl .apply-job a { display: table; float: none; margin: 0 auto; width: 75%; margin-bottom:10px;}
.rtl ul.feature-jobs li span { float: right;}
.rtl ul.feature-jobs li h3 { width: 100%;}
.rtl .pull-right {float: none !important;}
.rtl ul.dashboard-list li { float: right; width: 100%;}
.rtl .wp-image-123 { height: auto; width: 20%;}
.wow.slide.wow.slide > iframe { height: auto; width: 100%;}
.col-md-12 { margin: 0;}
.rtl .recriutment-listing ul a { padding-right: 20px;}
.rtl .search-section { left: auto; position: relative; right: 0; width: 243px; top:0;}
.rtl .recriutment-search h2 { padding: 0; padding-right:10px;}
.rtl .recriutment-search > form { margin-right: 10px; margin-top:20px; overflow:hidden;}
.rtl .search-country { margin-left: 0; width: 47%;}
#menu-button .icon-list8 {top: -35px;}
#header.dark-header #menu-button .icon-list8,
.rtl #header.dark-header #menu-button .icon-list8 {top: -25px;}
.search-country {width: 47%;}
.cs-companies article {width: 100%;}
ul.jobs-list li {padding: 13px 15px 0 30px;}
ul.jobs-list li p {margin: 0;}
ul.hiring-list li .cs-text .cs-posted {right: 30px;}
.rtl ul.hiring-list li .cs-text .cs-posted {left: 30px;}
.category-holder .col-md-6 {margin-bottom: 30px;}
.hiring-slider li figure {float: none;}
.testimonial-inner ul.testimonial-slider .slick-next:after {left: 10px;}
.testimonial-inner ul.testimonial-slider .slick-prev::after {left: -20px;}
.cs-company-listing article {width: 33.3%;}
ul.dashboard-list li {width: 50%; border-top: 1px solid #f4f4f4;}
.rtl ul.dashboard-list li {float: right;}
ul.resumes-list li .cs-text .cs-posted {position: relative; right: 0; top: 0;}
ul.resumes-list li .cs-text .cs-posted span {display: inline-block;}
ul.resumes-list li .delete {right: 0; top: 20px;}
.rtl ul.resumes-list li .delete {left: 25px; top: 20px; right: inherit;}
ul.post-step li, ul.post-step li:last-child {margin-bottom: 10px; width: 50%;}
.packege-detial {overflow: hidden;}
.cs-tabs ul.accordion-list li .top-section .date {width: 20%;}
ul.resumes-list li .cs-text .cs-uploaded {position: initial;}
.col-md-6 > img {width: 100%;}
.section-fullwidth > .cs-content-holder > .row > .col-md-6{margin-right:10px;}
ul.dashboard-list li{width:100%;}
.cs-grid ul.cs-list li{width:44%;}
.filter-heading .cs-sort-sec > li{margin:0;}
.wp-jobhunt .cs-companies article {width:50%;}
/* Canidate Style */
.main-section .cs-candidate-list .cs-button {right: 15px !important; top:40% !important;}
.cs-candidate-detail .cs-profile .cs-media{margin-bottom:20px;}
.cs-candidate-detail .cs-profile .info, .cs-candidate-detail .cs-profile .post-options, .cs-candidate-detail .profile-nav{width:100%;}
.cs-candidate-detail .cs-profile .info{margin-bottom:10px;}
.cs-candidate-detail .profile-nav li{margin-right:15px;}
.cs-candidate-detail .profile-nav li a{font-size:14px;}
.cs-candidate-detail .employer-contact-form{margin-top:0px;}
#footer .footer-top [class*="col-lg"], #footer .footer-top [class*="col-md"], #footer .footer-top [class*="col-sm"], #footer .footer-top [class*="col-xs"]{width:100%;}
.cs-clinets .col-lg-2.col-md-3.col-sm-4.col-xs-12{width:50%;}
.filter-heading .cs-sort-sec li {width: 48%;vertical-align:top;}
.cs-clinets ul.clients button.slick-prev {left: 10px;}
.main-head .col-sm-12 {width:100%;} 
header .main-head .logo {text-align:center; margin: 0 0 30px 0;}
header .slicknav_menu {float: left; padding:0;}
.cs-top-recruiters .cs-text {text-align:center;}
.back-to-top {margin: 15px 0 0;}
.cs-copyright .footer-links {font-size:11px;}
.wp-jobhunt ul.post-step li{width: 100%;}
.wp-jobhunt .jobs-listing .jobtype-btn{position: absolute; margin-top: 0px;}
/*.wp-jobhunt .col-lg-12 .col-lg-12 .jobs-listing li .cs-text{width: 80% !important;}*/

}
@media screen and (max-height: 575px){
#rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
header .slicknav_menu{float: none;}
}
@media screen and (max-width: 540px){
header .nav-right-area{text-align: center !important;}
header .slicknav_nav {left: 20%; right: auto;}
.wp-jobhunt .filter-heading .cs-sort-sec li:first-child .cs-select-holder{width: 77%;}
.wp-jobhunt .filter-heading .cs-sort-sec li .cs-select-holder{width: 100%;}
.wp-jobhunt .jobs-listing.classic .cs-text{padding-right: 0px;}
.wp-jobhunt ul.managment-list li .list-holder .shortlist{width: 100%;}
.wp-jobhunt ul.managment-list li .list-holder .control, .wp-jobhunt ul.managment-list li .list-holder .application{width: 30%;}
.wp-jobhunt ul.managment-list li .list-holder .shortlist span{text-align: left;}
.wp-jobhunt ul.transaction-list li .trans-id, .wp-jobhunt ul.transaction-list li .trans-description, .wp-jobhunt ul.transaction-list li .trans-date, .wp-jobhunt ul.transaction-list li .trans-payment, .wp-jobhunt ul.transaction-list li .trans-amount{width: 25%;}
.wp-jobhunt .cs-downlod-sec, .wp-jobhunt .cs-tabs .tab-content .cs-downlod-sec:hover{position: inherit; top:12px; right: 0px;}
.wp-jobhunt ul.managment-list li .manag-title, .wp-jobhunt ul.managment-list li .list-holder{width: 100%;}
.wp-jobhunt ul.managment-list li .list-holder .shortlist{width: 30%;}
.wp-jobhunt .cs-confirm-container{left: 5%; width: 89%;}
.wp-jobhunt .resumes-list .modal-dialog{width: 95%;}
.wp-jobhunt .signup-form{width: 100%;}
.wp-jobhunt .signup-form .nav > li > a{font-size: 12px;}
.wp-jobhunt .company-date-option{width: 69%;}
.wp-jobhunt .company-date-option span{width: auto;}
.wp-jobhunt .jobs-listing .cs-media, .wp-jobhunt .jobs-listing.modern .cs-media{margin: 0 0 15px 0;}
.wp-jobhunt .col-lg-12 .col-lg-9 .jobs-listing.classic .cs-text, .wp-jobhunt .col-lg-12 .jobs-listing.classic .cs-text, .wp-jobhunt .col-lg-12 .col-lg-9 .jobs-listing li .cs-text {width: 100% !important;}
.wp-jobhunt .jobs-listing.classic .wish-list{position: inherit; margin-top: 20px;}
header .slicknav_nav{top:64px;}
.main-section .main-search{margin-bottom: 0px;}

}
/* 480px to 320px */
@media screen and (max-width: 480px) {
.wp-jobhunt .cs-job-possitions .employer-listing .company-info{width:100%;}
.wp-jobhunt .employer-listing .company-info ul{display:block;}
.wp-jobhunt .cs-job-possitions .employer-listing .company-info{width:100%;}
.wp-jobhunt .col-lg-12 .col-lg-12 .jobs-listing.modern li .cs-text, .wp-jobhunt .col-lg-12 .col-lg-9 .jobs-listing.modern li .cs-text{width: 100% !important; padding:0;}
.wp-jobhunt .cs-post-job .tabs-content .col-md-6{width: 100%;}
.wp-jobhunt .company-date-option{width: 64%;}
.wp-jobhunt ul.managment-list li .list-holder .control, .wp-jobhunt ul.managment-list li .list-holder .application{width: 50%;}
.wp-jobhunt .cs-manage-jobs ul.dashboard-list li{width: 100%; padding: 4px 0;}
header .nav-right-area{text-align: center !important;}
header .slicknav_menu{float: none;}
.signup-form{width:90%;}
header .slicknav_nav{top:64px;}	
.signup-form .nav-tabs > li:first-child{width:100%;border-right:0;}
.wp-jobhunt .nav.nav-tabs > li{width:100%;}	
.filter-heading .cs-sort-sec li {width: 100%}
.hiring-holder .jobs-listing.modern h3{padding-right:0px;}
.employer-listing.simple .cs-text{ margin-bottom:10px;}
.jobs-info .cs-text .btn.large{ min-width:100%; margin-bottom:10px;}
.jobs-info .share-btn{display:inline-block;}
.employer-listing .employer-box .cs-text, .employer-listing .employer-box .company-info{width:100%;}
.employer-listing .employer-box .company-info{ text-align:left;}
.employer-listing.simple .cs-text{ width:45%;}
.recriutment-listing .employer-listing.simple .cs-post-type{ width:22%;}
.admin-info .cs-text{display:inline-block; width:100%;}
.jobs-listing.classic .wish-list{margin-top:-15px;}
.admin-info .cs-media{ margin:0 0 15px 0;}
.admin-info .vacancies{ bottom:70px;}
.rtl .db .post-job-btn {float: right; margin-bottom:10px;}
.rtl .db ul li { margin: 0 0 0 15px; width: 100%;}
.rtl .wp-image-123 {height: auto; width: 30%;}
.rtl .cs-promobox.large img { float: none; margin: 0 0 0 10px;}
.cs-promobox.large img { float: none; margin: 0 0 0 10px;}
.rtl ul.resumes-list li img { clear: both; float: none; margin: 0 0 0 24px;}
.rtl ul.resumes-list li .cs-text { clear: both; margin-top: 20px; overflow: hidden; padding: 0;}
.rtl .search-country { margin-left: 0; width: 100%;}
ul.feature-jobs li h3 { clear: both; display: block; float: left; margin: 0; padding: 0;}
ul.feature-jobs li h3 a{margin:0;}
ul.feature-jobs li span { color: #aaa; display: inline-block; float: left; font-size: 12px; padding: 0; text-align: left; width: 100%;}
.rtl .feature-jobs .feature-img { float: none; margin: 0 0 0 17px; width: auto;}
.rtl .cs-footer .widget .cs_banner_section { text-align: right;}
.rtl ul.hiring-list li .cs-text .cs-posted {left: 30px; width:74px;}
.rtl ul.hiring-list li img, .rtl .hiring-list li .hiring-img { float: none; margin: 0;}
.rtl ul.hiring-list li .cs-text { float:none; position: relative; margin-top:20px; clear:both;}
.rtl ul.feature-jobs li img {float: right; margin: 0 0 0 17px; width: 150px;}
.rtl .cs-pricetable .col-md-4 {float: right; margin-bottom: 30px; margin-left: 0; margin-right: 0; width: 100%;}
.signup-form .nav-tabs > li > a{padding: 10px 3px;}
.cs-footer .widget .cs_banner_section img {width: auto;}
.cs-footer .widget .cs_banner_section {text-align: left;}
.hiring-list li .hiring-img {float: none}
.hiring-list li .hiring-img img {width: 150px; float: none; margin-bottom: 15px;}
ul.jobs-list {margin: 31px 0 0; position: relative;}
ul.hiring-list li .cs-text .cs-posted {position: initial;}
.cs-pricetable .col-md-4, .cs-footer .col-md-2 {width: 100%;}
.cs-counter ul li {border-top: 1px solid #f4f4f4; width: 100%;}
.testimonial-inner ul.testimonial-slider .slick-next::after {left: 45px;}
.testimonial-inner ul.testimonial-slider .slick-prev::after {left: -60px;}
.cs-blog.medium .cs-media {float: none; margin-bottom:20px;}
.rtl .cs-blog.medium .cs-media {float: none;}
.cs-blog.medium .cs-media img {width: 100%;}
.rtl .cs-blog.medium .cs-media img {width: 100%;}
.rtl .effect-jazz figcaption > a {left: inherit; right: 45%;}
.search-section {position: relative; right: -25px;}
.search-by-name {padding: 60px 27px 2px;}
.cs-company-listing article {width: 50%;}
ul.managment-list li .list-holder .package, ul.managment-list li .list-holder .shortlist, 
ul.managment-list li .list-holder .application, ul.managment-list li .list-holder .control {width: 33%; margin: 0; text-align: left;}
.db .post-job-btn {margin: 10px 0;}
ul.transaction-list li .trans-id, ul.transaction-list li .trans-date, ul.transaction-list li .trans-description, 
ul.transaction-list li .trans-payment, ul.transaction-list li .trans-amount, ul.transaction-list li .trans-status {width: 50%;}
ul.post-step li, ul.post-step li:last-child {margin-bottom: 10px; width: 100%;}
.packege-detial ul li {margin-left: 10px;}
.job-featured .cs-text {width: 100%;}
.job-featured span {display: block; position: relative; right: 0; top: 0; width: 100%;}
ul.candidate-list li {width: 50%;}
.company-date-option {width: 50%;}
.select-jobs .search-category {width: 100%; margin-bottom: 15px;}
.cs-jobs article .cs-text .payment-detail span {width: 80%;}
.price-holder .buy-now {padding: 0 15px 15px;}
.signup-form .social-media li a {display: block; margin-bottom: 10px;}
#sticker {position: initial !important;}
.cs-tabs ul.accordion-list li .top-section .location {width: 100%;}
.search-category, .search-country {width: 100%;}
.cs-gallery.fancy .scetion-title h2 {text-align: center;}
.rtl .cs-education ul li .education-title {width: 100%;}
.cs-education ul li .education-detail {overflow: inherit;}
.login-section {text-align: left;}
.cs-jobs article .cs-text figure{float:none; margin-bottom: 15px;}
.footer-logo {display: block;}
.bottom-links li {float: none;margin-right: 31px; margin-left: 0; display: inline-block;}
.cs-company-listing article figure { min-height: 135px; height: auto;}
.search-view2 .main-search .search-area .search-bar, 
.search-view2 .main-search .search-country,
.search-view2 .main-search .search-category,
.rtl .search-view2 .main-search .search-area .search-bar, 
.rtl .search-view2 .main-search .search-country,
.rtl .search-view2 .main-search .search-category,
.search-view3 .main-search .search-area .search-bar, 
.search-view3 .main-search .search-country,
.search-view3 .main-search .search-category,
.rtl .search-view3 .main-search .search-area .search-bar, 
.rtl .search-view3 .main-search .search-country,
.rtl .search-view3 .main-search .search-category,
.cs-footer .col-md-3, .cs-img-frame.frame-simple{
	width:100%;
}
.cs-listing.cs-fancy .cs-list li .cs-holder .cs-shortlist{bottom:-20px; top:auto; height:auto;}
.cs-listing .cs-list .cs-holder .cs-media{float:none; margin:0 0 25px 0; width:100%;}
.cs-listing .cs-list .cs-holder .cs-media figure{float:none;}
.cs-grid ul.cs-list li{width:42%;}
.cs-uploaded.candidate-detail .add_list_icon{top:20px; right:20px;}
ul.resumes-list li .cs-text{width:100%;padding-top:15px;}
ul.job-list.job-list-full-view li .job-medium .cs-text { overflow: visible; padding: 15px 0 0; width: 100%;}
ul.job-list li .job-medium .cs-text{overflow: visible; padding: 15px 0 0; width: 100%;float:left;}
.main-section ul.hiring-list-2 {padding: 0 10px 0 0;}
.cs-listing ul.cs-list li.ln-no-match {font-size:24px;}
.wp-jobhunt .price-tables article {width:100%;}
.wp-jobhunt ul.blog-list li {display:inline-block; width:100%;}
.main-section .apply-job a {width:100%;}
.wp-jobhunt .cs-companies article {margin: 0 -4px 20px 0 !important; width:100%; display:inline-block;}
.price-tables article {width:100%;}
.main-section .user-search .search-area .search-bar {width:100%; margin:0 0 10px 0;}
.main-section .cs-ag-search.user-search .search-country {width: 50%;}
.main-section .user-search .search-btn {width: 46%;}
.cs-company-listing .job-list article, .main-section .user-search .search-category {width:100%;}
.main-section .cs-search-inner {padding: 10px;}
.main-section ul.feature-jobs, .main-section .cs-jobs {margin: 0 10px 0 0;}
#main .cs-construction .date span {width: 100%; margin:0 0 20px 0;}
.main-section .cs-relevant-list > figure {display: block; float:none;}
.main-section .jobs-listing .cs-media {margin:0 0 20px 0;}
.main-section .jobs-listing.simple .cs-media {margin:0 0 50px 0; float: left;}
.main-section .jobs-listing.simple .payment-detail li {width:100%;}
.main-section .jobs-listing li .cs-text {width:100%; display:inline-block;}
.main-section .jobs-listing.simple .cs-text ul {width:100%;}
.main-section .jobs-detail-listing li {width:100%;}
.jobs-detail-2 .apply-buttons .btn {margin:0 8px 8px 0;}
.jobs-detail-2 .social-media > span {margin: 0 0 10px 0;}
.main-section .col-lg-8 .jobs-listing.modern li .cs-text, 
.main-section .col-md-8 .jobs-listing.modern li .cs-text, 
.main-section .col-lg-9 .jobs-listing.modern li .cs-text, 
.main-section .col-md-9 .jobs-listing.modern li .cs-text {width:100%;}
.main-section .col-lg-8 .jobs-listing li .cs-text, .main-section .col-md-8 .jobs-listing li .cs-text, 
.main-section .col-lg-9 .jobs-listing li .cs-text, .main-section .col-md-9 .jobs-listing li .cs-text, .wp-jobhunt .col-lg-12 .col-lg-9 .jobs-listing li .cs-text {width:100% !important;}
.main-section .jobs-listing li .cs-text {padding-left:15px;}
/* Canidate Style */
.main-section .cs-candidate-list .cs-media {margin: 0 0 15px;}
.main-section .cs-candidate-list .cs-text {width: 100%;}
.main-section .cs-candidate-list .cs-button {margin: -60px 0 0; right: 70px; top: 50%;}
.main-search .search-area [class*="col-md"], .main-search .search-area [class*="col-sm"], .main-search .search-area [class*="col-lg"] {width:100%;}
.main-search.inner-search form input[type="text"] {border-right:1px solid #dde5ed; border-bottom:none;}
.main-search.inner-search form .chosen-container-single .chosen-single {border-top:none;}
.main-search.inner-search form .select-holder:after {height: 44px;}
.main-search.inner-search form .chosen-search input[type="text"] {border-bottom:1px solid #aaa;}
.main-section .main-search {overflow: visible;}
.main-search.inner-search .chosen-container-single .chosen-drop {margin-top: -5px;}
.testimonial-inner.slider-small ul.testimonial-slider .slick-prev, .testimonial-slider .slick-prev{left:22%;}
.testimonial-inner.slider-small ul.testimonial-slider .slick-next, .testimonial-slider .slick-next{right:22%;}
.cs-blog-detail .tags{ margin-bottom:10px;}
.cs-blog-detail .tags, .cs-blog-detail .cs-share-detail{width:100%; margin-bottom:10px;}
.jobs-listing.modern .jobs-content .list-options, .jobs-listing.classic .wish-list {position: initial; margin:20px 0 0 0;}
/*.wp-jobhunt .jobs-listing .wish-list{position: initial !important; margin-top: 20px !important;}*/
.wp-jobhun .jobs-listing.grid {position: absolute !important; margin-top: 0px !important;}
.wp-jobhunt .jobs-listing .jobtype-btn{float: right; position: inherit;}
.wp-jobhunt .jobs-listing .jobtype-btn{margin-top: 10px;}
.wp-jobhunt .jobs-listing span.author-name{display: block;}
.cs-clinets .col-lg-2.col-md-3.col-sm-4.col-xs-12 img{width:100%;}
.jobs-listing li .cs-media{display:block;}
.jobs-listing li .cs-media figure{margin:0 auto;}
.jobs-listing.classic li .cs-media figure{margin:inherit;}
#footer .widget-title h5{text-align:center;}
.main-search .search-input label {padding-top: 25px;}
.wp-jobhunt .filter-heading .cs-sort-sec li:first-child .cs-select-holder{width: 77% !important;}
.wp-jobhunt .filter-heading .cs-sort-sec li .cs-select-holder{width: 100%;}
.wp-jobhunt .filter-heading .cs-sort-sec li .cs-select-holder{width: 100%; overflow: initial;}
.wp-jobhunt .filter-heading .cs-sort-sec li{width: 42%;}
.wp-jobhunt .filter-heading .cs-sort-sec li:first-child, .wp-jobhunt .filter-heading .cs-sort-sec li, .wp-jobhunt .filter-heading .cs-sort-sec li .cs-select-holder{width: 100% !important;}
.wp-jobhunt .filter-heading .cs-sort-sec li:first-child .cs-select-holder{width: 79% !important;}
.wp-jobhunt .filter-heading .cs-sort-sec li{margin: 0 0 10px 0;}
.wp-jobhunt .filter-heading .cs-sort-sec label{margin-right: 19px;}
.wp-jobhunt .filter-heading .cs-sort-sec li .cs-select-holder:after{right: 4px;}
.wp-jobhunt .filter-heading .cs-sort-sec li:first-child .cs-select-holder:after{right: 17px;}
.wp-jobhunt ul.transaction-list li .trans-id, .wp-jobhunt ul.transaction-list li .trans-description, .wp-jobhunt ul.transaction-list li .trans-date, .wp-jobhunt ul.transaction-list li .trans-payment, .wp-jobhunt ul.transaction-list li .trans-amount{width: 100%;}
.wp-jobhunt ul.managment-list li .list-holder .control, .wp-jobhunt ul.managment-list li .list-holder .application, .wp-jobhunt ul.managment-list li .list-holder .shortlist{width: 100%; text-align: left;}
}
@media screen and (max-width: 360px) {
.cs-blog-detail .post-option .post-date {margin-left: 0px;}
header .slicknav_nav {left: 10%; right: auto;}
header .nav-right-area{text-align: center;}
header .slicknav_menu{float: none;}
.employer-listing.simple .cs-text{display:block;text-align:center;}
.employer-listing.simple .cs-post-type{width:100% !important;display:block;text-align:center;}
.employer-listing.simple .cs-post-type p{border:0;padding:0;}
.page-not-found h2 img{width:100%;}
.testimonial-inner.slider-small ul.testimonial-slider .slick-prev, .testimonial-slider .slick-prev{left:19%;}
.testimonial-inner.slider-small ul.testimonial-slider .slick-next, .testimonial-slider .slick-next{right:15%;}
.main-search .select-location{margin-bottom:10px;}
.jobs-detail-3 .jobs-info .cs-media{margin-bottom:20px;}
.jobs-detail-3 .social-media{width:100%;}
.jobs-detail-2 .social-media li, 
.jobs-detail-3 .social-media li, 
.jobs-detail-4 .social-media li{margin-right:4px !important;}
.rtl .job-featured span { left: 0;right: inherit;}
.rtl .wp-image-123 { height: auto; width: 50%;}
.jobs-listing.classic .wish-list{top:27%;}
.navigation {margin-bottom: 15px;}
.cs-footer .widget .cs_banner_section img {width: auto;}
ul.feature-jobs li h3 {display: block; margin: 0; padding: 0; width:100%;}
ul.feature-jobs li span {float: none; padding: 0; text-align: left;}
ul.feature-jobs li h3 a {margin: 0 0 0 0px;}
.feature-jobs .feature-img {float: none;}
.feature-jobs .feature-img img {width: 150px; margin: 0px auto; float: none; margin-bottom: 10px;}
.hiring-list li .hiring-img {float: none;}
.hiring-list li .hiring-img img {width: 150px; float: none; margin: 0px 0 0px 0; display: block;}
.navigation > ul {top: 10px;}
.navigation ul ul li:hover > a, .navigation ul ul li > a:hover, .navigation ul ul li.active > a {border-left: 3px solid #06C; border-right: 0px none;}
.wish-list:hover .wish-list-dropdown {width: 330px;}
.search-category, .search-country {width: 100%;margin-right: 0;}
ul.jobs-list {margin: 31px 0 0;position: relative;}
.rtl .slick-slider {right: 0;}
ul.hiring-list li img {float: none; margin: 0 20px 20px 0;}
.rtl ul.hiring-list li img {float: none;margin: 0 0 20px 20px;}
ul.hiring-list li .cs-text .cs-posted {position: initial;}
.cs-pricetable .col-md-4, .cs-footer .col-md-2 {width: 100%;}
.banner-text-style {font-size: 36px; line-height: 48px;}
strong.joiner {display: none;}
.morph-button-fixed, .morph-button-fixed .morph-content {height: 32px; width: 50%;}
.morph-button-fixed > button {font-size: 80%; line-height: 30px;}
.cs-counter ul li {border-top: 1px solid #f4f4f4; width: 100%;}
.hiring-slider {padding: 20px 25px;}
.cs-promobox.large {padding: 0 15px;}
.cs-promobox.large img {float: none;}
.testimonial-inner ul.testimonial-slider .slick-next::after {left: 45px; top: -30px;}
.testimonial-inner ul.testimonial-slider .slick-prev::after {left: -60px; top: -30px;}
ul.testimonial-slider li .question-mark {padding: 37px 10px;}
#comment ul li ul {margin-left: 0;}
.rtl #comment ul li ul {margin-right: 0;}
.search-section {position: relative; right: -14px;}
.possition {float: none; margin-top: 0; display: block;}
.hiring-slider li figure img, .cs-company-listing article, ul.dashboard-list li, 
ul.transaction-list li .trans-id, ul.transaction-list li .trans-date, ul.transaction-list li .trans-description, 
ul.transaction-list li .trans-payment, ul.transaction-list li .trans-amount,
 ul.transaction-list li .trans-status, ul.candidate-list li {width: 100%;}
.company-date-option {width: 55%;}
.cs-team article {width: 100%; float: left;}
.wish-list {top: 65px;}
.morph-button-fixed, .morph-button-fixed .morph-content {float: left; width: 50%;}
.find-btn, .post-btn {padding: 14px 20px;}
.pagination > li:nth-child(5), .pagination > li:nth-child(6) {display: none;}
.cs-profoile-portfolio .col-md-4 {width: 100%; float: none;}
.rtl .cs-candidate figure {float: right; margin: 0 0 20px; width: 100%;}
.cs-footer .widget .cs_banner_section {text-align: left;}
.cs-grid ul.cs-list li{width:84%;}
.filter-heading .cs-sort-sec li { width: 100%;}
.search-results .cs-search-area{width:100%;}
.cs-search-area{width:80%;}
.page-not-found .cs-404-text h2{background-size:contain;}
ul.managment-list li .list-holder .package, ul.managment-list li .list-holder .shortlist,
ul.managment-list li .list-holder .application, ul.managment-list li .list-holder .control{text-align:center;}
.main-search .search-area [class*="col-md"], .main-search .search-area [class*="col-sm"],
.main-search .search-area [class*="col-lg"] {margin-bottom: 0px !important;}
.employer-listing.simple .cs-text, .employer-listing.simple .cs-media figure{ width:100%;}
.employer-listing.simple .cs-text{ margin-bottom:10px;}
.employer-listing .cs-media{ width:100%; margin:0 0 15px 0;}
.user-search ul.filter-list li{width:8%; margin-bottom:2px;}
.cs-company-jobs .cs-text > span{margin-bottom:10px; display:inline-block;}
.jobs-detail-4 .company-info .cs-text{float:left; margin:0 0 20px 30px;}
.navigation > ul{left:18px;}
ul.post-step li h3 a{font-size:14px !important;}
header .main-head .logo{margin-bottom:20px !important; text-align:center;}
.main-head .col-sm-12 {width:100%;}
.wp-jobhunt .filter-heading .cs-sort-sec li:first-child .cs-select-holder:after{right: 8px;}

}
@media screen and (max-width: 320px) {
header .slicknav_nav {left: 5%; right: auto;}
header .nav-right-area{text-align: center;}
header .slicknav_menu{float: none;}
.rc-anchor-normal{ width:255px;}
.rtl .search-section .txt-field { float: right; width: 78%;}
ul.jobs-list {width: 280px;}
ul.jobs-list li {padding: 13px 10px 0;}
ul.blog-list .slick-prev, ul.blog-list .slick-next {top: 0px;}
.cs-admin figure {float: none;}
.share-post ul.share-medea li {float: left;}
.links-social {margin: 0 -30px;}
.input-info .row div .user-message {padding-right: 15px;}
.accordion-group {padding: 15px 15px 12px;}
.share-job ul.share-medea {padding: 0;}
.share-job ul.more-jobs li {float: left;}
.cs-tabs ul.accordion-list li .top-section .location,
.cs-tabs ul.accordion-list li .top-section .date {width: 100%;}
.find-btn, .post-btn {padding: 14px 20px;}
ul.feature-jobs li h3 a {margin: 0; display: inline-block;}
.search-section .txt-field {width: 150px;}
.search-by-name {padding: 60px 34px 2px;}
.pagination > li:nth-child(4) {display: none;}

}