/*******************************************************************************
 *              bootstrap-rtl (version 3.3.2-rc1)
 *      Author: Morteza Ansarinia (http://github.com/morteza)
 *  Created on: March 05,2015
 *     Project: bootstrap-rtl
 *   Copyright: Unlicensed Public Domain
 *******************************************************************************/

html {
  direction: rtl;
}
body {
  direction: rtl;
}
.flip.text-left,
.rtl .cs-favorite-jobs ul.top-heading-list li:nth-child(2) {
  text-align: right;
}
.flip.text-right {
  text-align: left;
}
.list-unstyled {
  padding-right: 0;
  padding-left: initial;
}
.list-inline {
  padding-right: 0;
  padding-left: initial;
  margin-right: -5px;
  margin-left: 0;
}
dd {
  margin-right: 0;
  margin-left: initial;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: right;
    clear: right;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-right: 180px;
    margin-left: 0;
  }
}

blockslider {
  border-left: 0;
}
.blockslider-reverse,
blockslider.pull-left {
  padding-left: 15px;
  padding-right: 0;
  border-left: 5px solid #eeeeee;
  border-right: 0;
  text-align: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: right;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  left: 100%;
  right: auto;
}
.col-xs-pull-11 {
  left: 91.66666667%;
  right: auto;
}
.col-xs-pull-10 {
  left: 83.33333333%;
  right: auto;
}
.col-xs-pull-9 {
  left: 75%;
  right: auto;
}
.col-xs-pull-8 {
  left: 66.66666667%;
  right: auto;
}
.col-xs-pull-7 {
  left: 58.33333333%;
  right: auto;
}
.col-xs-pull-6 {
  left: 50%;
  right: auto;
}
.col-xs-pull-5 {
  left: 41.66666667%;
  right: auto;
}
.col-xs-pull-4 {
  left: 33.33333333%;
  right: auto;
}
.col-xs-pull-3 {
  left: 25%;
  right: auto;
}
.col-xs-pull-2 {
  left: 16.66666667%;
  right: auto;
}
.col-xs-pull-1 {
  left: 8.33333333%;
  right: auto;
}
.col-xs-pull-0 {
  left: auto;
  right: auto;
}
.col-xs-push-12 {
  right: 100%;
  left: 0;
}
.col-xs-push-11 {
  right: 91.66666667%;
  left: 0;
}
.col-xs-push-10 {
  right: 83.33333333%;
  left: 0;
}
.col-xs-push-9 {
  right: 75%;
  left: 0;
}
.col-xs-push-8 {
  right: 66.66666667%;
  left: 0;
}
.col-xs-push-7 {
  right: 58.33333333%;
  left: 0;
}
.col-xs-push-6 {
  right: 50%;
  left: 0;
}
.col-xs-push-5 {
  right: 41.66666667%;
  left: 0;
}
.col-xs-push-4 {
  right: 33.33333333%;
  left: 0;
}
.col-xs-push-3 {
  right: 25%;
  left: 0;
}
.col-xs-push-2 {
  right: 16.66666667%;
  left: 0;
}
.col-xs-push-1 {
  right: 8.33333333%;
  left: 0;
}
.col-xs-push-0 {
  right: auto;
  left: 0;
}
.col-xs-offset-12 {
  margin-right: 100%;
  margin-left: 0;
}
.col-xs-offset-11 {
  margin-right: 91.66666667%;
  margin-left: 0;
}
.col-xs-offset-10 {
  margin-right: 83.33333333%;
  margin-left: 0;
}
.col-xs-offset-9 {
  margin-right: 75%;
  margin-left: 0;
}
.col-xs-offset-8 {
  margin-right: 66.66666667%;
  margin-left: 0;
}
.col-xs-offset-7 {
  margin-right: 58.33333333%;
  margin-left: 0;
}
.col-xs-offset-6 {
  margin-right: 50%;
  margin-left: 0;
}
.col-xs-offset-5 {
  margin-right: 41.66666667%;
  margin-left: 0;
}
.col-xs-offset-4 {
  margin-right: 33.33333333%;
  margin-left: 0;
}
.col-xs-offset-3 {
  margin-right: 25%;
  margin-left: 0;
}
.col-xs-offset-2 {
  margin-right: 16.66666667%;
  margin-left: 0;
}
.col-xs-offset-1 {
  margin-right: 8.33333333%;
  margin-left: 0;
}
.col-xs-offset-0 {
  margin-right: 0%;
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    left: 100%;
    right: auto;
  }
  .col-sm-pull-11 {
    left: 91.66666667%;
    right: auto;
  }
  .col-sm-pull-10 {
    left: 83.33333333%;
    right: auto;
  }
  .col-sm-pull-9 {
    left: 75%;
    right: auto;
  }
  .col-sm-pull-8 {
    left: 66.66666667%;
    right: auto;
  }
  .col-sm-pull-7 {
    left: 58.33333333%;
    right: auto;
  }
  .col-sm-pull-6 {
    left: 50%;
    right: auto;
  }
  .col-sm-pull-5 {
    left: 41.66666667%;
    right: auto;
  }
  .col-sm-pull-4 {
    left: 33.33333333%;
    right: auto;
  }
  .col-sm-pull-3 {
    left: 25%;
    right: auto;
  }
  .col-sm-pull-2 {
    left: 16.66666667%;
    right: auto;
  }
  .col-sm-pull-1 {
    left: 8.33333333%;
    right: auto;
  }
  .col-sm-pull-0 {
    left: auto;
    right: auto;
  }
  .col-sm-push-12 {
    right: 100%;
    left: 0;
  }
  .col-sm-push-11 {
    right: 91.66666667%;
    left: 0;
  }
  .col-sm-push-10 {
    right: 83.33333333%;
    left: 0;
  }
  .col-sm-push-9 {
    right: 75%;
    left: 0;
  }
  .col-sm-push-8 {
    right: 66.66666667%;
    left: 0;
  }
  .col-sm-push-7 {
    right: 58.33333333%;
    left: 0;
  }
  .col-sm-push-6 {
    right: 50%;
    left: 0;
  }
  .col-sm-push-5 {
    right: 41.66666667%;
    left: 0;
  }
  .col-sm-push-4 {
    right: 33.33333333%;
    left: 0;
  }
  .col-sm-push-3 {
    right: 25%;
    left: 0;
  }
  .col-sm-push-2 {
    right: 16.66666667%;
    left: 0;
  }
  .col-sm-push-1 {
    right: 8.33333333%;
    left: 0;
  }
  .col-sm-push-0 {
    right: auto;
    left: 0;
  }
  .col-sm-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }
  .col-sm-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .col-sm-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .col-sm-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .col-sm-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-0 {
    margin-right: 0%;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    left: 100%;
    right: auto;
  }
  .col-md-pull-11 {
    left: 91.66666667%;
    right: auto;
  }
  .col-md-pull-10 {
    left: 83.33333333%;
    right: auto;
  }
  .col-md-pull-9 {
    left: 75%;
    right: auto;
  }
  .col-md-pull-8 {
    left: 66.66666667%;
    right: auto;
  }
  .col-md-pull-7 {
    left: 58.33333333%;
    right: auto;
  }
  .col-md-pull-6 {
    left: 50%;
    right: auto;
  }
  .col-md-pull-5 {
    left: 41.66666667%;
    right: auto;
  }
  .col-md-pull-4 {
    left: 33.33333333%;
    right: auto;
  }
  .col-md-pull-3 {
    left: 25%;
    right: auto;
  }
  .col-md-pull-2 {
    left: 16.66666667%;
    right: auto;
  }
  .col-md-pull-1 {
    left: 8.33333333%;
    right: auto;
  }
  .col-md-pull-0 {
    left: auto;
    right: auto;
  }
  .col-md-push-12 {
    right: 100%;
    left: 0;
  }
  .col-md-push-11 {
    right: 91.66666667%;
    left: 0;
  }
  .col-md-push-10 {
    right: 83.33333333%;
    left: 0;
  }
  .col-md-push-9 {
    right: 75%;
    left: 0;
  }
  .col-md-push-8 {
    right: 66.66666667%;
    left: 0;
  }
  .col-md-push-7 {
    right: 58.33333333%;
    left: 0;
  }
  .col-md-push-6 {
    right: 50%;
    left: 0;
  }
  .col-md-push-5 {
    right: 41.66666667%;
    left: 0;
  }
  .col-md-push-4 {
    right: 33.33333333%;
    left: 0;
  }
  .col-md-push-3 {
    right: 25%;
    left: 0;
  }
  .col-md-push-2 {
    right: 16.66666667%;
    left: 0;
  }
  .col-md-push-1 {
    right: 8.33333333%;
    left: 0;
  }
  .col-md-push-0 {
    right: auto;
    left: 0;
  }
  .col-md-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }
  .col-md-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }
  .col-md-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }
  .col-md-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .col-md-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }
  .col-md-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }
  .col-md-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .col-md-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }
  .col-md-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }
  .col-md-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .col-md-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .col-md-offset-0 {
    margin-right: 0%;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    left: 100%;
    right: auto;
  }
  .col-lg-pull-11 {
    left: 91.66666667%;
    right: auto;
  }
  .col-lg-pull-10 {
    left: 83.33333333%;
    right: auto;
  }
  .col-lg-pull-9 {
    left: 75%;
    right: auto;
  }
  .col-lg-pull-8 {
    left: 66.66666667%;
    right: auto;
  }
  .col-lg-pull-7 {
    left: 58.33333333%;
    right: auto;
  }
  .col-lg-pull-6 {
    left: 50%;
    right: auto;
  }
  .col-lg-pull-5 {
    left: 41.66666667%;
    right: auto;
  }
  .col-lg-pull-4 {
    left: 33.33333333%;
    right: auto;
  }
  .col-lg-pull-3 {
    left: 25%;
    right: auto;
  }
  .col-lg-pull-2 {
    left: 16.66666667%;
    right: auto;
  }
  .col-lg-pull-1 {
    left: 8.33333333%;
    right: auto;
  }
  .col-lg-pull-0 {
    left: auto;
    right: auto;
  }
  .col-lg-push-12 {
    right: 100%;
    left: 0;
  }
  .col-lg-push-11 {
    right: 91.66666667%;
    left: 0;
  }
  .col-lg-push-10 {
    right: 83.33333333%;
    left: 0;
  }
  .col-lg-push-9 {
    right: 75%;
    left: 0;
  }
  .col-lg-push-8 {
    right: 66.66666667%;
    left: 0;
  }
  .col-lg-push-7 {
    right: 58.33333333%;
    left: 0;
  }
  .col-lg-push-6 {
    right: 50%;
    left: 0;
  }
  .col-lg-push-5 {
    right: 41.66666667%;
    left: 0;
  }
  .col-lg-push-4 {
    right: 33.33333333%;
    left: 0;
  }
  .col-lg-push-3 {
    right: 25%;
    left: 0;
  }
  .col-lg-push-2 {
    right: 16.66666667%;
    left: 0;
  }
  .col-lg-push-1 {
    right: 8.33333333%;
    left: 0;
  }
  .col-lg-push-0 {
    right: auto;
    left: 0;
  }
  .col-lg-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }
  .col-lg-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .col-lg-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .col-lg-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .col-lg-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-0 {
    margin-right: 0%;
    margin-left: 0;
  }
}
caption {
  text-align: right;
}
th {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-right: 0;
    border-left: initial;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-left: 0;
    border-right: initial;
  }
}
.radio label,
.checkbox label {
  padding-right: 20px;
  padding-left: initial;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-right: -20px;
  margin-left: auto;
}
.radio-inline,
.checkbox-inline {
  padding-right: 20px;
  padding-left: 0;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-right: 10px;
  margin-left: 0;
}
.has-feedback .form-control {
  padding-left: 42.5px;
  padding-right: 12px;
}
.form-control-feedback {
  left: 0;
  right: auto;
}
@media (min-width: 768px) {
  .form-inline label {
    padding-right: 0;
    padding-left: initial;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    margin-right: 0;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  left: 15px;
  right: auto;
}
.caret {
  margin-right: 2px;
  margin-left: 0;
}
.dropdown-menu {
  right: 0;
  left: auto;
  float: left;
  text-align: right;
}
.dropdown-menu.pull-right {
  left: 0;
  right: auto;
  float: right;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  float: right;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-right: -1px;
  margin-left: 0px;
}
.btn-toolbar {
  margin-right: -5px;
  margin-left: 0px;
}
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: right;
}
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-right: 5px;
  margin-left: 0px;
}
.btn-group > .btn:first-child {
  margin-right: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn-group {
  float: right;
}
.btn-group.btn-group-justified > .btn,
.btn-group.btn-group-justified > .btn-group {
  float: none;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > .dropdown-toggle {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn-group:last-child > .btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn .caret {
  margin-right: 0;
}
.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-right: 0;
}
.input-group .form-control {
  float: right;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-addon:first-child {
  border-left: 0px;
  border-right: 1px solid;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group-addon:last-child {
  border-left-width: 1px;
  border-left-style: solid;
  border-right: 0px;
}
.input-group-btn > .btn + .btn {
  margin-right: -1px;
  margin-left: auto;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-left: -1px;
  margin-right: auto;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-right: -1px;
  margin-left: auto;
}
.nav {
  padding-right: 0;
  padding-left: initial;
}
.nav-tabs > li {
  float: right;
}
.nav-tabs > li > a {
  margin-left: auto;
  margin-right: -2px;
  border-radius: 4px 4px 0 0;
}
.nav-pills > li {
  float: right;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-right: 2px;
  margin-left: auto;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-right: 0;
  margin-left: auto;
}
.nav-justified > .dropdown .dropdown-menu {
  right: auto;
}
.nav-tabs-justified > li > a {
  margin-left: 0;
  margin-right: auto;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-radius: 4px 4px 0 0;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: right;
  }
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-brand {
  float: right;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-right: -15px;
    margin-left: auto;
  }
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: auto;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 25px 5px 15px;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
  .navbar-nav > li {
    float: right;
  }
}
@media (min-width: 768px) {
  .navbar-left.flip {
    float: right !important;
  }
  .navbar-right:last-child {
    margin-left: -15px;
    margin-right: auto;
  }
  .navbar-right.flip {
    float: left !important;
    margin-left: -15px;
    margin-right: auto;
  }
  .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
  }
}
@media (min-width: 768px) {
  .navbar-text {
    float: right;
  }
  .navbar-text.navbar-right:last-child {
    margin-left: 0;
    margin-right: auto;
  }
}
.pagination {
  padding-right: 0;
}
.pagination > li > a,
.pagination > li > span {
  float: right;
  margin-right: -1px;
  margin-left: 0px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  margin-right: -1px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pager {
  padding-right: 0;
  padding-left: initial;
}
.pager .next > a,
.pager .next > span {
  float: left;
}
.pager .previous > a,
.pager .previous > span {
  float: right;
}
.nav-pills > li > a > .badge {
  margin-left: 0px;
  margin-right: 3px;
}
.list-group-item > .badge {
  float: left;
}
.list-group-item > .badge + .badge {
  margin-left: 5px;
  margin-right: auto;
}
/*.alert-dismissable,
.alert-dismissible {
  padding-left: 35px;
  padding-right: 15px;
}*/
.alert-dismissable .close,
.alert-dismissible .close {
  right: auto;
  left: 0px;
}
.progress-bar {
  float: right;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-left.flip {
  margin-right: 0;
  margin-left: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.media > .pull-right.flip {
  margin-left: 0;
  margin-right: 10px;
}
.media-right,
.media > .pull-right {
  padding-right: 10px;
  padding-left: initial;
}
.media-left,
.media > .pull-left {
  padding-left: 10px;
  padding-right: initial;
}
.media-list {
  padding-right: 0;
  padding-left: initial;
  list-style: none;
}
.list-group {
  padding-right: 0;
  padding-left: initial;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 0;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-right: 0;
  border-left: none;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: none;
  border-left: 0;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
  right: 0;
  left: auto;
}
.close {
  float: left;
}
.modal-footer {
  text-align: left;
}
.modal-footer .btn + .btn {
  margin-left: auto;
  margin-right: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-right: -1px;
  margin-left: auto;
}
.modal-footer .btn-block + .btn-block {
  margin-right: 0;
  margin-left: auto;
}
.popover {
  left: auto;
  text-align: right;
}
.popover.top > .arrow {
  right: 50%;
  left: auto;
  margin-right: -11px;
  margin-left: auto;
}
.popover.top > .arrow:after {
  margin-right: -10px;
  margin-left: auto;
}
.popover.bottom > .arrow {
  right: 50%;
  left: auto;
  margin-right: -11px;
  margin-left: auto;
}
.popover.bottom > .arrow:after {
  margin-right: -10px;
  margin-left: auto;
}
.carousel-control {
  right: 0;
  bottom: 0;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  right: auto;
  margin-right: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  left: auto;
  margin-left: -10px;
}
.carousel-indicators {
  right: 50%;
  left: 0;
  margin-right: -30%;
  margin-left: 0;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: 0;
    margin-right: -15px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-left: 0;
    margin-right: -15px;
  }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
}
.pull-right.flip {
  float: left !important;
}
.pull-left.flip {
  float: right !important;
}
/*# sourceMappingURL=bootstrap-rtl.css.map */
.rtl .logo {
    float: right;
}
.rtl .top-right {
    float: left;
	direction:rtl;
}
.rtl .navigation {
    float: right;
}
.rtl .navigation > ul > li { float: right; background:url(../images/nav-list-img.png) no-repeat right center;}
.rtl .navigation > ul > li:last-child { float: right; background:url(../images/nav-list-img.png) no-repeat right center;}
.rtl .navigation > ul > li:first-child { background:none; }
.rtl .navigation ul ul li a {
    border-left: 0px solid #fff;
	border-right: 3px solid #fff;
    border-top: 0;
    color: #444545;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 20px 16px;
    text-decoration: none;
    transition: color 0.2s ease 0s;
}
.rtl .navigation ul ul li:hover > a,
.rtl .navigation ul ul li > a:hover,
.rtl .navigation ul ul li.active > a { 
	color: #0066cc;
	border-left:0px solid #0066cc;
	border-right:3px solid #0066cc;
	padding: 20px 20px;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease; }
	
.rtl .navigation > ul > li > ul:after{
	border-bottom: 8px solid #e3e3e3;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    left: auto;
    position: absolute;
    top: -8px;
    z-index: 9999;
	right:20% !important;
}

.rtl .wish-list-dropdown ul.recruiter-list li img {
    box-shadow: 0 2px 2px #e7e7e7;
    float: right;
    margin: 0;
}
.rtl ul.recruiter-list li .cs-info {
    overflow: hidden;
    padding-left: 0;
    padding-right: 8px;
    padding-top: 7px;
}
.rtl ul.recruiter-list li .cs-info span {
    color: #999;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin-right: 0;
}
.rtl .wish-list-dropdown ul.recruiter-list li {
    background: #fff none repeat scroll 0 0;
    box-shadow: none;
    list-style: outside none none;
    margin: 0px;
    padding: 20px;
	border-bottom:solid 1px #ededed;
	border-left:solid 0px #fff;
	border-right:solid 3px #fff;
}
.rtl .wish-list-dropdown ul.recruiter-list li:hover {
	border-left:solid 0px #0066cc;
	border-right:solid 3px #0066cc;
}
.rtl .navigation ul ul > li:hover > ul {
    left: auto;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
    right: 233px;
    top: 0;
}
.rtl .navigation ul ul > li:hover > ul > li:hover > ul {
    left: inherit;
    right: 210px;
}
.rtl .login {
    float: right;
    margin-top: 20px;
    position: relative;
}
.rtl .wish-list {
    float: right;
    margin-left: 0px;
	margin-right: 14px;
}
.rtl .wish-list:hover .wish-list-dropdown {
    left: 0;
    margin-top: 10px;
    right: auto;
}
.rtl .wish-list em{
	right:auto !important;
	left:-10px;
	}
.rtl .content-style-form .input-holder i {
    color: #cecece;
    font-size: 18px;
    left: 16px;
    position: absolute;
    right: auto;
    top: 18px;
}
.rtl .search-area .search-bar {
    float: right;
    margin-right: 0px;
	margin-left: 30px;
}
.rtl .search-area .search-bar input {
    padding: 10px 44px 10px 18px;
}
.rtl .search-bar i {
    left: auto;
    right: 18px;
	-moz-transform: scale(1) rotate(-270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1) rotate(-270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-o-transform: scale(1) rotate(-270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-ms-transform: scale(1) rotate(-270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
transform: scale(1) rotate(-270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
.rtl .search-category {
    float: right;
    margin-right: 0px;
	margin-left: 30px;
}
.rtl .search-country {
    float: right;
    margin-right: 0px;
	margin-left: 30px;
}
.rtl .search-btn {
    float: right;
    width: 139px;
}
.rtl .select-holder:after {
 right: auto !important;
 left: 0px !important;;
}
.rtl .main-search span {
    float: right;
}
.rtl ul.hiring-list li .cs-text .cs-posted {
    right: auto;
	left:64px;
}
.rtl ul.hiring-list li img, .rtl .hiring-list li .hiring-img {
    margin: 0 0 0 20px;
	float:right;
}

.rtl .widget-title h3 i {
    float: right;
    margin: 0 0 0 10px;
}
.rtl ul.hiring-list li .heart-btn{
	right:auto;
	left:10px;
}
.rtl .widget_archive li a, .rtl .widget_categories ul li a, .rtl .widget_recent_entries li a,
.rtl .widget_nav_menu ul li a{
	float:right;
}
.rtl .footer-links-social li a i{
	display:inline-block;
}
.rtl ul.hiring-list li .heart{
	right:auto;
	left:5px;
	}
.rtl ul.hiring-list li .cs-text .cs-posted a::after {
    left: -13px;
    right: auto;
    transform: scale(-1);
}
.rtl .category-widget.fancy ul.category-list li .cs-text a::after {
    left: -13px;
    right: auto;
    transform: scale(-1);
}
.rtl .category-widget.fancy ul.category-list li .cs-text a{
	float:left;
	}
.rtl ul.recruiter-list li img {
    box-shadow: 0 2px 2px #e7e7e7;
    float: left;
    margin: 0;
}
.rtl .newsletter-widget .fieldset .search-bar {
    right: auto;
    left: 0;
}
.rtl .cs-category ul li::after{
	right:auto;
	left:7px;
	transform: scale(-1);
	}
.rtl ul.feature-jobs li img {
    float: right;
	margin:0 0 0 17px;
}
.rtl .footer-links li a::before {
    float: right;
    margin: 0 0 0 3px;
	transform:scale(-1);
}
.rtl .footer-links-social li a::before {
    float: right;
    margin: 0 0 0 10px;
    padding: 0 5px 0 0;
}
.rtl .copyrights a {
    float: left;
    margin-right: 5px;
}
.rtl .bottom-links li {
    float: right;
    margin-left: 0;
    margin-right: 31px;
}
.rtl .bottom-links {
    float: right;
}
.rtl .back-to-top {
    float: left;
}
.rtl .slick-slider{
	direction:ltr;
	}
.rtl ul.blog-list .slick-prev {
    right: auto;
	left:26px;
	transform: scale(-1);
}
.rtl ul.blog-list .slick-next {
    right: auto;
	left:0;
	transform: scale(-1);
}
.rtl ul.socialmedia-list li a em{
	float:left;
	}
.rtl ul.socialmedia-list li a i{
	margin:0 0 0 12px;
	}
.rtl ul.twitter-list li span i{
	margin-right: 0px;
	margin-left: 8px;
	}
.rtl ul.jobs-list li{
	direction:rtl;
	}
.rtl ul.jobs-list li a::after{
	right:auto;
	left:-15px;
	transform: scale(-1);
	}
.rtl ul.blog-list li{
	direction:rtl;
	text-align:right;
	margin: 0 -4px 0 0;
	}
.rtl .feature-jobs .feature-img {
    float: right;
    margin: 0 0 0 17px;
}
.rtl .widget-title h4 i{
	float:right;
	margin:0 0 0 10px;
}
.rtl ul.blog-list li .cs-text .readmore::after{
	right:auto;
	left:-15px;
	transform: scale(-1);
	}
.rtl .cs-footer .widget ul li a:before, .rtl .widget_categories ul li a:before{
	transform: scale(-1);
	float:right;
	margin:0 0 0 3px;
}
.rtl .cs-footer .widget ul li a{
	text-align:right;
}
.rtl .cs-footer .widget ul li a:hover{
	margin:0 -10px;
}
.rtl .widget ul.footer-links-social li a:hover{
	margin:0 10px;
}
.rtl .type-wrap > span{
	display:inline-block;
	padding-bottom:15px;
}
.rtl .pull-left{
	float:right !important;
}
.rtl .pull-right {
    float:left !important;
}
.rtl ul.breadcrumb-nav li:after {
    left: -7px;
	top:1px;
	right:inherit;
	transform:scale(-1);
}
.rtl ul.breadcrumb-nav li{
	padding:0 6px 0 9px;
}
.rtl ul.breadcrumb-nav li:first-child{
	padding:0 6px 0 9px;
}
.rtl .inner-tabs ul li i{
	float:left;
	transform:scale(-1);
}
.rtl ul.dashboard-list li i {
    left: -15px;
	right:inherit;
}
.rtl .cs-promobox.large img {
    float:right;
    margin:0 0 0 10px;
}
.rtl ul.post-option li i {
    float: right;
    margin: 2px 0 0 5px;
}
.rtl .cs-admin figure {
    float:right;
    margin: 0 0 0 15px;
}
.rtl .tags span {
    float: right;
    transform: scale(-1);
}
.rtl ul.tag-list li {
	background-position:right center;
    float: right;
    padding: 0 14px 0 12px;
}
.rtl #comment ul li .thumblist figure {
    float:right;
    margin:1px 0 0 18px;
}
.rtl #comment ul li ul.children {
    margin: 0 60px 15px 0;
}
.rtl .input-filed-contact i {
    left: 18px;
	right:inherit;
}
.rtl .cs-profile-contact-detail .profile-contact-btn{
	text-align:right;
	overflow:hidden;
}
.rtl .effect-jazz figcaption > a{
	right:32%;
	left:inherit;
}
.rtl .widget-recent-blog ul li figure {
    float:right;
    margin: 0 0 0 15px;
}
.rtl .cs-blog.medium .cs-media {
    float: right;
    margin:0 0 0 30px;
}
.rtl .db .post-job-btn{
	float:left;
	margin:-23px 0 0;
	position:relative;
}
.rtl .dasborad .col-md-2{
	padding:0 0 0 15px;
}
.rtl .cs-tabs.nav-position-left .nav-tabs li i {
    float: right;
    margin: 2px 0 0 10px;
}
.rtl .cs-tabs.nav-position-left .nav-tabs .active a:before {
    left: -8px;
	right:inherit;
	transform: rotate(-179deg);
}
.rtl .cs-tabs.nav-position-left .nav-tabs .active a:after{
    left: -10px;
    right:inherit;
	transform: rotate(-179deg);
}
.rtl .social-input i {
    border-right: 1px solid #e4e4e4;
	border-left:0;
    left: 15px;
	right:inherit;
    margin: 0 10px 0 0;
}
.rtl #parentVerticalTab .select-holder::after {
    left: 1px;
	right:inherit;
}
.rtl .list-holder div{
	float:right !important;
}
.rtl ul.managment-list li .list-holder{
	float:left;
}
.rtl ul.managment-list li .list-holder .control a,
.rtl ul.managment-list li .list-holder .shortlist span,
.rtl ul.managment-list li .list-holder .application a{
	display: inline;
	float:left;
}
.rtl ul.transaction-list li div {
    float: right;
}
.rtl ul.resumes-list li img {
    float:right;
    margin: 0 0 0 24px;
}
.rtl ul.resumes-list li .delete {
    left: 25px;
	right:inherit;
}
.rtl ul.resumes-list li .cs-text .cs-posted {
    left: 64px;
	right:inherit;
}
.rtl ul.post-step li {
    float: right;
    margin:0 0 0 20px;
}
.rtl ul.post-step li:last-child{
	margin:0;
}
.rtl ul.post-step li h3 {
    padding: 0 0 0 15px;
}
.rtl ul.post-step li h3 a i{
	margin-top:0;
	margin-left:6px;
}
.rtl .cs-confirmation .mail i{
	float:none;
	margin:0;
}
.rtl .packege-detial ul{
	float:left;
}
.rtl .packege-detial ul li {
    margin:0 40px 0 0;
}
.rtl .contact-info li .contact-icon {
    float: right;
    margin:0 0 0 15px;
    padding:0 0 0 20px;
}
.rtl .cs-profile-contact-detail .input-filed-contact label {
    float: right;
	text-align:left;
    padding:14px 0 0 20px;
}
.rtl .input-info .row div .user-message .close {
    left: 30px;
	right:inherit;
}
.rtl .input-info [class*="col-md"]{
	float:none;
}
.rtl ul.add-jobs li {
    float: right;
    margin: 0 0 10px 7px;
}
.rtl .user-jobs {
    padding: 2px 22px 2px 10px;
}
.rtl ul.add-jobs li .close {
    right: 4px;
	left:inherit;
}
.rtl .search-section {
    left: 28px;
	right:inherit;
}
.rtl .search-section .txt-field{
	float:right;
}
.rtl ul.job-list li .job-medium figure {
    float:right;
    margin: 0 0 0 12px;
}
.rtl .possition {
    float: left;
    left: 12px;
    margin: -11px 0 0 7px;
    right: inherit;
}
.rtl ul.page-nav li:first-child {
    padding: 0 0 0 30px;
}
.rtl ul.page-nav li:first-child::after {
    left: -3px;
	right:inherit;
}
.rtl .job-description ul li{
	background-position:right center;
}
.rtl .share-job ul.more-jobs li a i {
    float: right;
    margin: 5px 0 0 7px;
}
.rtl .share-job ul.share-medea,
.rtl ul.candidate-list li,
.rtl .cs-tabs ul.top-heading-list li{
	float:right;
	padding-left:0;
}
.rtl .cs-tabs ul.accordion-list li .top-section div{
	float:right !important;
}
.rtl ul.candidate-list li a{
	font-size:13px;
}
.rtl .cs-experience.cs-tabs ul.accordion-list li .top-section .date{
	text-align:right;
}
.rtl .cs-experience.cs-tabs ul.accordion-list li .top-section .option,
.rtl .cs-tabs ul.accordion-list li .top-section .option{
	float:left !important;
	text-align:left;
}
.rtl ul.candidate-list li a i {
    margin: 0 0 0 10px;
}
.rtl .cs-portfolio.cs-tabs ul.accordion-list li .top-section .pic-holder{
	margin:0 0 0 30px;
}
.rtl .cs-skills.cs-tabs ul.accordion-list li .top-section .date,
.rtl .cs-awards.cs-tabs ul.accordion-list li .top-section .date{
	text-align:right;
}
.rtl .upload-btn-div span{
	float:right;
}
.rtl .add-more i{
	margin:0 0 0 10px;
}
.rtl .cs-favorite-jobs ul.top-heading-list li,
.rtl .company-detail-inner,
.rtl .cs-favorite-jobs .feature-jobs li .company-date-option span,
.rtl .scetion-title-alert h2{
	float:right;
}
.rtl .cs-favorite-jobs .feature-jobs li .company-date-option .control,
.rtl .scetion-title-alert span{
	float:left;
}
.rtl .cs-candidate figure {
    float:right;
    margin:0 0 0 30px;
}
.rtl .col-md-9.right-section {
    padding: 0 0 0 15px;
	margin:0;
}
.rtl .sTop .col-md-3{
	padding:0 15px 0 0;
}
.rtl #sidemenu .inView{
	text-align:right;
}
.rtl #sidemenu a{
	float:right;
	text-align:right;
}
.rtl #sidemenu .selected{
	padding:0 20px 0 0;
    box-shadow:2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.rtl #aboutme .job-detail ul li a {
    margin: 0 0 0 20px;
}
.rtl .job-detail ul li a{
	margin:0 20px 0 0;
}
.rtl .job-detail ul li a i {
    float: right;
    margin:0 0 0 6px;
}
.rtl .cs-education ul li .education-title {
    float: right;
    margin:0 0 0 20px;
}
.rtl .inner .panel-inner .inner::after{
	right:0;
	line-height:inherit;
}
.rtl .cs-job-experience ul {
    border-right: 1px solid #dddddd;
	border-left:0;
    margin: 0 7px 30px 0;
    padding: 0 35px 0 0;
}
.rtl .cs-job-experience li .education-title span {
    float: right;
    padding:0 0 0 10px;
}
.rtl .cs-job-experience ul li::after {
    right: -42px;
	left:inherit;
}
.rtl .cs-profile-awards ul li .award-year {
	background-position:left 8px;
    float: right;
    margin:0 0 0 18px;
}
.rtl .skills-sec small{
	left:8px;
	right:inherit;
}
.rtl .cs-profile-contact-detail .input-filed-contact input,
.rtl .cs-profile-contact-detail .input-filed-contact textarea{
	float:right;
}
.rtl #sidemenu a i {
    display: inline-block;
    transform: scale(-1);
}
.rtl .recriutment-search h2{
	padding:0 30px 0 0;
}
.rtl .select-jobs .search-category .select-holder::after{
	left:1px;
	right:inherit;
}
.rtl .select-jobs{
	float:none;
}
.rtl .select-jobs .search-category{
	margin:0;
}
.rtl ul.resumes-list li .cs-text .cs-uploaded{
	right:inherit;
	left:0;
}
.rtl ul.resumes-list li .cs-text .cs-uploaded span i{
	display:inline-block;
	margin-left:3px;
}
.rtl .cs-jobs article .cs-text figure{
	float:left;
}
.rtl .cs-jobs article .cs-text .payment-detail p{
	background-position:right 4px;
	padding:0 15px 0 0;
}
.rtl .cs-jobs-filter .panel-group .panel .panel-body ul li a::before{
	transform:scale(-1);
}
.rtl .portfolio-filter li{
	float:right;
}
.rtl .portfolio-filter li a{
	border-right:1px solid #e2e2e2;
}
.rtl .panel-group.modren .panel-heading a::before,
.rtl .panel-group.modren .panel-heading a.collapsed::before{
	float:left;
}
.rtl .accordion-heading a,
.rtl .cs-order-summery ul li em{
	float:left;
}
.rtl .job-featured .cs-text {
    float: right;
    padding:0 35px 0 0;
}
.rtl .job-featured span {
    left: 30px;
	right: inherit;
}
.rtl .job-featured input[type="checkbox"]:not(old) + label {
    margin:0 -20px 0 0;
}
.rtl .job-featured .styledCheckbox{
	margin:0 -33px 0 0;
}
.rtl .callToaction .cs-text {
    padding: 0 60px 10px 0;
}
.rtl .callToaction .acc-submit {
    margin:0 0 0 50px;
}
.rtl .price-holder .detail span i {
    display: inline-block;
    margin:0 0 0 8px;
}
.rtl .price-holder .buy-now span,
.rtl .team-social-info ul{
	float:right;
}
.rtl .price-holder .buy-now a,
.rtl .team-social-info .team-send-email{
	float:left;
}
.rtl .terms-detail ul li::after{
	right:0;
	left:inherit;
}
.rtl .terms-detail ul li{
	padding:0 22px 0 0;
}
.rtl .team-social-info .team-send-email a i{
	display:inline-block;
	margin-left:3px;
}
.rtl .wish-list:hover .wish-list-dropdown:after {
    left: 11px;
	right:auto;
}
.rtl ul.feature-jobs li span {
    color: #aaa;
    display: inline-block;
    float: left;
    font-size: 12px;
    padding: 13px 0 0 17px;
    text-align: right;
}
.rtl .cs-jobs-filter .panel-body span {
	display:inline-block;
	padding:0 5px;
	
}
.rtl .cs-jobs-filter .panel-group .panel .panel-body ul li a:before,
.rtl .cs-jobs-filter .panel-group .panel .panel-body ul li a.active:before {
    float: right;
	margin:3px 0 0;
}
.rtl .cs-jobs-filter .panel-group .panel .panel-body ul li a.active i {
	display:inline-block;
	padding:0 5px;
}
.rtl .custom-listing label{
	margin-right:0;
}
.rtl .custom-listing label:before{
	transform: scale(-1);
	right:-8px;
	top:0;
	margin-top:3px;
}

.rtl .custom-listing .checkbox label:before{
	transform: scale(1);
	right:-8px;
	top:0;
	margin-top:3px;
}
.rtl ul.breadcrumb-nav li{
	padding:0 9px 0 6px;
}
.rtl ul.breadcrumb-nav li:first-child{
	padding:0 0 0 6px;
}
.rtl ul.breadcrumb-nav li:first-child a i{
	display:inline-block;
}
.rtl .custom-listing .radio > label:hover{
	margin-left:0;
	margin-right:10px;
}
.rtl .cs-jobs article .cs-text h3{
	margin:10px 0px;
	}
.rtl .apply-now {
    display: inline-block;
    float: left;
}
.rtl .apply-now i,
.rtl .widget_nav_menu ul li a:before{
    float: left;
    transform: scale(-1);
}
.rtl .job-info ul.posted-detail li {
    background:url(../images/bg-list.png) no-repeat scroll right center;
    float: right;
    padding: 0 24px 0 14px;
}
.rtl .job-info ul.posted-detail li:first-child{
	background:none;
	padding-right:0px;
	padding-left:14px;
	}
.rtl .job-info ul.posted-detail li i {
    display: inline-block;
    margin-left: 7px;
    margin-right: 0;
}
.rtl ul.resumes-list li .cs-text .cs-uploaded span{
	text-align:right;
}
.rtl .resumes-list .whishlist_icon{
	left:20px;
}
.rtl .widget_archive li a, 
.rtl .widget_categories ul li a, 
.rtl .widget_recent_entries li a,
.rtl .widget_pages li a, .rtl .widget_meta li a{
	text-align:right;
	float:right;
}
.rtl .widget_archive li span, 
.rtl .widget_categories ul li span, 
.rtl .widget_recent_entries li span{
	float:left;
}
.rtl .widget_categories ul li a:before{
	float:left;
	margin-top:10px;
}
.rtl .comment-form p i {
    left: 15px;
	right:inherit;
}
.rtl .cs-blog.medium .cs-text {
    padding: 5px 0 0 20px;
}
.rtl ul.dashboard-list li i{
	left:-15px;
	right:inherit;
}
.rtl .packege-title{
	text-align:right;
}
.rtl ul.testimonial-slider li .question-mark figure:after{
	right:-10px;
	left:inherit;
	transform:scale(-1);
}
.rtl .stay-save ul.save-info .slick-prev{
	left:16px;
	right:inherit;
}
.rtl .stay-save ul.save-info .slick-next{
	left:37px;
	right:inherit;
}
.rtl ul.more-jobs{
	text-align:right;
}
.rtl ul.more-jobs li {
    padding: 2px 20px 0 0;
}
.rtl .apply-job a i {
    border-left: 1px solid #fff;
	border-right:0;
    float: right;
}
.rtl .widget_categories ul li .post_count {
    left: 35px;
	right:inherit;
}
.rtl .widget_pages ul li a:before{
	transform:scale(-1);
	float:left;
}
.rtl .warning-title h4 i{
	padding:0 0 0 7px;
}
.rtl .apply-job a{
	margin:0 0 0 20px;
}
.rtl .widget.widget_recent_comments li{
	text-align:right;
}
.rtl .widget.widget_search label{
	left:0;
	right:inherit;
}
.rtl .widget.widget_search form label input[type="submit"]{
	border-radius:4px 0 0 4px;
}
.rtl .widget_tag_cloud .tagcloud a{
	float:right;
}
.rtl .widget_tag_cloud .tagcloud a:before{
	right:6px;
	left:inherit;
}
.rtl .taggle_list li{
	float:right;
}
.rtl .taggle_placeholder{
	top:2px;
	right:15px;
	left:inherit;
}
.rtl #recaptcha1 div div{
	text-align:right;
}
.rtl .acc-submit{
	float:right;
}
.rtl .login-section{
	text-align:left;
}
.rtl .login-section i{
	display:inline-block;
	padding:0 5px;
}
.rtl .morph-button.morph-button-modal-3{
	float:right;
}
.rtl .content-style-form h2{
	text-align:right;
}
.rtl .content-style-form .icon-close {
    left: 10px;
    right: auto;
}
.rtl .nav-tabs > li{
	float:right;
	width:100%;
}
.rtl .cs-login-dropdown ul li a i {
    display: inline-block;
    margin: 0 0 0 5px;
}
.rtl .cs-tabs.nav-position-left .nav-tabs {
    border-right: medium none;
    float: right;
	margin:0 0 30px -1px;
    padding:0 15px;
}
.rtl .user-img {
	margin:-1px 0 0 20px
}
.rtl .user-img figure .close{
	left:2px;
	right:auto;
}
.rtl .social-input input{
	padding:16px 16px 16px 60px;
}
.rtl .select-holder span {
    float: left;
    left: 0;
	right:auto;
    top: -30px;
}
.rtl ul.managment-list li .list-holder .application a{
	float:left;
}
.rtl .db ul li{
	margin:0 0 0 15px;
}
.rtl .cs-order-summery ul li:last-child em{
	float:left;
}
.rtl .accordion-heading input[type="checkbox"]:not(old) + label, 
.rtl .accordion-heading input[type="radio"]:not(old) + label{
	margin:0 -2em 0 0;
}
.rtl .job-featured input[type="checkbox"]:not(old) + label > span{
	left:inherit;
	right:21px;
}
.rtl .cs-search-area .search-bar{
	left:0;
	right: auto;
}
.rtl .db ul li i{
	margin:0 0 0 5px;
	display:inline-block;
}
.rtl .cs-footer .widget_categories ul li a:hover{
	margin:0 10px;
}
.rtl .login-with > h3 {
    float: left;
    width: 100%;
}
.rtl .footer-element {
    float: left;
    width: 100%;
}
.rtl .testimonial-inner ul.testimonial-slider .slick-prev:after{
	left:-7px;
}
.rtl .pagination li{
	display:inline-block;
}
.rtl .pagination li:first-child a {
    float: right;
}
.rtl .pagination li:first-child a span i,
.rtl .pagination li:last-child a span i{
	display:inline-block;
	transform:scale(-1);
	position:relative;
	top:1px;
}
.rtl .pagination li:last-child a {
    float: left;
}
.rtl .footer-logo {
    margin: 0 0 0 18px;
}
.rtl ul.hiring-list li .cs-text .cs-posted a span {
    float: right;
    line-height: 19px;
    margin-left: 2px;
}
.rtl .applied_icon .cs-added-msg {
    color: green;
    font-size: 12px;
    left: auto;
    position: absolute;
    right: -130px;
    top: 0;
}
.rtl ul.hiring-list li .heart, .rtl ul.hiring-list li .heartactive {
    right: auto;
	left:5px;
}
.rtl .applied_icon .cs-remove-msg {
    color: red;
    font-size: 12px;
    left: auto;
	right:-160px;
    position: absolute;
    top: 0;
}
.rtl .whishlist_icon .cs-added-msg {
    left: 28px;
    right: auto;
}
.rtl .whishlist_icon .cs-remove-msg {
    left: 28px;
    right: auto;
}
.rtl .hiring-img {
    float: right;
    margin: 0 0 0 10px;
}
.rtl .resumes-list .whishlist_icon .cs-remove-msg {
    left: 10px;
	right:auto;
    text-align: left;
    width: 93%;
}
.rtl .cs-jobs .cs-text .whishlist_icon i.icon-spinner8 {
	position: absolute;
	bottom: 13px;
	left: 2px;
	right: auto;
	top: auto;
}
.rtl .whishlist_icon i.icon-spin {
	right: auto;
	left:8px
}
.rtl .whishlist_icon .cs-remove-msg{
	left:28px;
	right:auto;
}
.rtl .cs-jobs .cs-text .whishlist_icon .heart, .rtl .cs-jobs .cs-text .whishlist_icon .heartactive {
	right: 0;
	left: auto;
}
.rtl .resumes-list .cs-text .whishlist_icon .heartactive{
	bottom: auto;
    left: -15px;
    right: auto;
    top: -24px;
	}
.rtl .resumes-list .cs-text .whishlist_icon .heart{
	bottom: auto;
    left: -15px;
    right: auto;
    top: -24px;
	}
.rtl .cs-jobs .cs-text .whishlist_icon .cs-remove-msg {
    left: auto;
    right: 110px;
}
.rtl .cs-jobs .cs-text .whishlist_icon .cs-added-msg {
    right: 110px;
	left:auto;
}
.rtl .cs-jobs .cs-text .whishlist_icon i.icon-spinner8 {
	left: auto;
	right: 2px;
	top: auto;
}
.rtl .shortlist {
	margin-right: 0;
	margin-left:15px;
}
.rtl .hiring-holder .text::after {
    left: auto;
    right: 0;
}
.rtl .resumes-list .whishlist_icon .cs-added-msg {
    left: 10px;
    right: auto;
    text-align: left;
    top: -26px;
    width: 100%;
}
.rtl .resumes-list .whishlist_icon i.icon-spin {
	right: auto;
	left:-16px;
}
.rtl #form-style > span {
    left: -4px;
    position: absolute;
    right: auto;
    top: 1px;
}
.rtl .buy-now input.slct-cv-pkg {
    float: left;
}
.rtl .price-tables input.slct-cv-pkg{
	float:none;
	margin:0 auto 30px;
	}
.rtl .career .main-search .search-area .search-country {
    float: right;
    margin: 0;
    width: 23%;
}
.rtl .search-view3 .main-search .search-area .search-bar,
.rtl .search-view3 .main-search .search-category,
.rtl .search-view3 .main-search .search-country,
.rtl .search-view2 .main-search .search-area .search-bar,
.rtl .search-view2 .main-search .search-category,
.rtl .search-view2 .main-search .search-country{
	float:right;
	margin-left:3%;
	margin-right:0;
}
.rtl [class*="col-md"]{
	margin:0 0 0 -4px;
}
.rtl .packege-title .banner-buttons{
	text-align:center;
}
.rtl .footer-v3 .footer-logo{
	text-align:left;
	line-height:94%;
	margin-left:0;
}
.rtl .footer-v3 .btn-top{
	float:left;
	margin-top:9px;
}
.rtl .career .main-search .search-area .search-bar,
.rtl .career .main-search .search-area .search-category,
.rtl .career .main-search .search-area .search-country{
	float:right;
	margin:0;
}
.rtl #header.dark-header .cs-loginsec {
    border-left: 1px solid #20232a;
	border-right: 0px solid #20232a;
    cursor: pointer;
    float: left;
    position: relative;
}
.rtl #header.dark-header .navigation > ul > li:first-child {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    float: right;
}
.rtl .recriutment-listing.recriutment-listing-2 ul a::after {
    left: auto;
    right: 0;
    top: -2px;
    transform: scale(-1);
}
.rtl .recriutment-listing.recriutment-listing-2 ul a {
    padding-left: 0px;
    padding-right: 20px;
}
.rtl .price-tables.price-tables-2 article .acc-submit {
    background: #fa320e none repeat scroll 0 0 !important;
    float: none;
    margin: 0 auto 30px;
}
.rtl .cs-footer.footer-v2 .footer-nav, .rtl .cs-footer.footer-v2.footer-v4 .footer-nav{
	float:right;
	text-align:left;
}
.rtl .cs-packeges .acc-submit {
    float: none;
	margin:0px auto;
	margin-bottom:30px;
}
.rtl ul.clients button.slick-prev,
.rtl ul.clients button.slick-next{
	text-indent:9999px;
}
.rtl .footer-v2 .btn-top span{
	float:left;
	margin:0 10px 0 0;
}
.rtl .footer-v2 .footer-nav li, .rtl .footer-v3 .footer-nav li, .rtl .footer-v4 .footer-nav li, .rtl .footer-v5 .footer-nav li{
	margin:0 0 0 8px;
	padding:0 0 0 12px;
}
.rtl .footer-v2 .footer-nav li::after, .rtl .footer-v3 .footer-nav li::after, .rtl .footer-v4 .footer-nav li::after, .rtl .footer-v5 .footer-nav li::after{
	left:0;
	right:auto;
}
.rtl .services.search-view5 .icon-left-services {
    float: right;
    margin: 0 0 0 30px;
}
.rtl .navigation ul ul li a{
	border-bottom:1px solid rgba(0,0,0,0.4);
}
.rtl ul.blog-list{
	margin:0;
}
.rtl ul.blog-list .slick-prev,
.rtl ul.blog-list .slick-next{
	top:-30px;
}
.rtl #header.dark-header .navigation > ul > li > ul:after {
	border-bottom: 8px solid #999a9e;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	content: "";
	right: 20%;
	left:auto;
	position: absolute;
	top: -8px;
	z-index: 9999;
}
.rtl #header.dark-header .navigation ul ul li a {
    border-right: 3px solid rgba(0, 0, 0, 0.4);
	border-left:0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    color: #999a9e;
}
.rtl #header.dark-header .navigation ul ul li:hover > a, 
.rtl #header.dark-header .navigation ul ul li > a:hover, 
.rtl #header.dark-header .navigation ul ul li.active > a {
    border-right: 3px solid #0066cc;
	border-left:0;
}
.rtl #header.dark-header .navigation > ul > li {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
	border-right:0;
}
.rtl #header.dark-header .navigation > ul > li:first-child{
	   border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.rtl #header.dark-header .morph-button-modal-2 > button, 
.rtl #header.dark-header .morph-button-modal-3 > button {
    padding: 5px 20px 5px 0;
    text-align: right;
}
.rtl #header.dark-header .morph-button-modal-2 > button:hover, 
.rtl #header.dark-header .morph-button-modal-3 > button:hover {
    border-right: 3px solid #0066cc;
	border-left:0;
}