<table border="0" cellpadding="0" cellspacing="0" class="kmTextBlock" width="100%" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0">
    <tbody class="kmTextBlockOuter">
        <tr>
            <td class="kmTextBlockInner" valign="top" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="kmTextContentContainer" width="100%" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0">
                    <tbody>
                        <tr>
                            <td class="kmTextContent" valign="top" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;color:#222;font-family:&quot;Helvetica Neue&quot;, Arial;font-size:14px;line-height:1.3;text-align:left;border-style:solid;line-height:110%;padding-bottom:20px;padding-right:30px;padding-left:30px;padding-top:30px;border-width:0px;">
                                <p style="margin:0;padding-bottom:1em">
                                    <a href="[JOB_URL]" style="word-wrap:break-word;color:#15325C;font-weight:normal;text-decoration:none"><span style="font-size:16px;"><strong>[JOB_TITLE]</strong></span></a>
                                </p>
                                <p style="margin:0;padding-bottom:0"><span style="font-size:12px;"><strong></strong>[COMPANY_NAME]<strong></strong></span>
                                    <br> &nbsp;
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="kmDividerBlock" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0">
    <tbody class="kmDividerBlockOuter">
        <tr>
            <td class="kmDividerBlockInner" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;">
                <table class="kmDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;border-top-width:1px;border-top-style:solid;border-top-color:#E1E1E1;">
                    <tbody>
                        <tr>
                            <td style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0"><span></span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="kmDividerBlock" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0">
    <tbody class="kmDividerBlockOuter">
        <tr>
            <td class="kmDividerBlockInner" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;">
                <table class="kmDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;border-top-width:1px;border-top-style:solid;border-top-color:#ccc;">
                    <tbody>
                        <tr>
                            <td style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0"><span></span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>